temp/fixed_workflow_v3.json
{
  "name": "TDF - Regrid Scraper v15",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Check for Jobs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        112,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/batch_jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "in.(pending,in_progress)"
            },
            {
              "name": "job_type",
              "value": "eq.regrid_scraping"
            },
            {
              "name": "select",
              "value": "id,county_id,batch_size,processed_items,total_items,current_batch"
            },
            {
              "name": "order",
              "value": "created_at.asc"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            }
          ]
        }
      },
      "id": "get-pending-jobs",
      "name": "Get Pending Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-job-exists",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-jobs",
      "name": "Has Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        512,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\nif (jobs.length > 0 && jobs[0].json) {\n  const job = jobs[0].json;\n  if (job.id) {\n    return [{ json: { job_id: job.id, county_id: job.county_id, batch_size: job.batch_size || 50, total_items: job.total_items || 0, processed_items: job.processed_items || 0 } }];\n  }\n  if (Array.isArray(job) && job.length > 0) {\n    const firstJob = job[0];\n    return [{ json: { job_id: firstJob.id, county_id: firstJob.county_id, batch_size: firstJob.batch_size || 50, total_items: firstJob.total_items || 0, processed_items: firstJob.processed_items || 0 } }];\n  }\n}\nreturn [{ json: { job_id: null } }];"
      },
      "id": "extract-job",
      "name": "Extract Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_next_batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"p_job_id\": \"{{ $json.job_id }}\"}",
        "options": {}
      },
      "id": "get-properties",
      "name": "Get Properties to Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        384
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('Extract Job Data').first().json.batch_size || 50 }}",
        "options": {}
      },
      "id": "split-batches",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const property = $input.first().json;\nconst propertyId = property.item_id || property.id;\nif (!propertyId) {\n  throw new Error('Property ID (item_id) not found');\n}\nconst county = property.county_name?.toLowerCase().replace(/\\s+/g, '-') || 'unknown';\nconst state = property.state_code?.toLowerCase() || 'pa';\nreturn [{\n  json: {\n    property_id: propertyId,\n    parcel_id: property.parcel_id,\n    county_name: property.county_name || county,\n    state_code: property.state_code || state,\n    property_address: property.property_address\n  }\n}];"
      },
      "id": "prepare-regrid-url",
      "name": "Prepare Regrid URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        384
      ]
    },
    {
      "parameters": {
        "url": "http://n8n-production-pwrunner-1:3001/run-regrid",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "parcel",
              "value": "={{ $json.parcel_id }}"
            },
            {
              "name": "county",
              "value": "={{ $json.county_name }}"
            },
            {
              "name": "state",
              "value": "={{ $json.state_code }}"
            },
            {
              "name": "property_id",
              "value": "={{ $json.property_id }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "run-playwright-screenshot",
      "name": "Run Playwright Screenshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet response;\nif (typeof input.data === 'string') {\n  try {\n    response = JSON.parse(input.data);\n  } catch (e) {\n    throw new Error('Failed to parse Playwright response: ' + e.message);\n  }\n} else if (input.success !== undefined) {\n  response = input;\n} else if (typeof input === 'string') {\n  response = JSON.parse(input);\n} else {\n  response = input;\n}\nif (!response.success) {\n  throw new Error('Playwright scraping failed: ' + (response.error || 'Unknown error'));\n}\nif (!response.screenshot) {\n  throw new Error('No screenshot in response');\n}\nif (!response.regrid_data) {\n  throw new Error('No regrid_data in response');\n}\nreturn {\n  json: {\n    property_id: response.property_id,\n    parcel_id: response.parcel_id,\n    screenshot: response.screenshot,\n    regrid_data: response.regrid_data,\n    panel_closed: response.panel_closed || false,\n    scraped_at: response.scraped_at,\n    success: response.success\n  }\n};"
      },
      "id": "parse-playwright-response",
      "name": "Parse Playwright Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst regridData = input.regrid_data || {};\nreturn {\n  json: {\n    property_id: input.property_id,\n    regrid_id: regridData.regrid_id || null,\n    ll_uuid: regridData.ll_uuid || null,\n    property_type: regridData.property_type || null,\n    property_class: regridData.property_class || null,\n    land_use: regridData.land_use || null,\n    zoning: regridData.zoning || null,\n    lot_size_sqft: regridData.lot_size_sqft || null,\n    lot_size_acres: regridData.lot_size_acres || null,\n    lot_dimensions: regridData.lot_dimensions || null,\n    building_sqft: regridData.building_sqft || null,\n    year_built: regridData.year_built || null,\n    bedrooms: regridData.bedrooms || null,\n    bathrooms: regridData.bathrooms || null,\n    assessed_value: regridData.assessed_value || null,\n    assessed_land_value: regridData.assessed_land_value || null,\n    assessed_improvement_value: regridData.assessed_improvement_value || null,\n    market_value: regridData.market_value || null,\n    latitude: regridData.latitude || null,\n    longitude: regridData.longitude || null,\n    elevation_ft: regridData.elevation_ft || null,\n    water_service: regridData.water_service || null,\n    sewer_service: regridData.sewer_service || null,\n    utilities: regridData.utilities || null,\n    additional_fields: regridData.additional_fields || {},\n    data_quality_score: regridData.data_quality_score || 0.0,\n    scraped_at: regridData.scraped_at || new Date().toISOString(),\n    screenshot_url: null\n  }\n};"
      },
      "id": "prepare-db-data",
      "name": "Prepare DB Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/regrid_data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "on_conflict",
              "value": "property_id"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "update-database",
      "name": "Update Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get screenshot from Parse Playwright Response node\nconst parseResponse = $('Parse Playwright Response').first();\nconst screenshot = parseResponse.json.screenshot;\nconst parcelId = parseResponse.json.parcel_id;\nconst propertyId = parseResponse.json.property_id;\n\nif (!screenshot) {\n  throw new Error('No screenshot data found in Parse Playwright Response');\n}\n\n// Clean the base64 string (remove any data URL prefix if present)\nconst base64Data = screenshot.replace(/^data:image\\/\\w+;base64,/, '');\n\n// Convert base64 to Buffer\nconst binaryBuffer = Buffer.from(base64Data, 'base64');\n\n// Generate safe filename\nconst safeParcelId = parcelId ? parcelId.replace(/[^a-zA-Z0-9]/g, '_') : 'unknown';\nconst fileName = `${safeParcelId}.jpg`;\n\n// Return in n8n binary format\nreturn [{\n  json: {\n    property_id: propertyId,\n    parcel_id: parcelId,\n    fileName: fileName\n  },\n  binary: {\n    data: {\n      data: binaryBuffer.toString('base64'),\n      mimeType: 'image/jpeg',\n      fileName: fileName,\n      fileExtension: 'jpg'\n    }\n  }\n}];"
      },
      "id": "convert-screenshot",
      "name": "Convert Screenshot to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/screenshots/{{ $('Parse Playwright Response').first().json.parcel_id.replace(/[^a-zA-Z0-9]/g, '_') }}.png",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTA0NzgzNSwiZXhwIjoyMDcwNjIzODM1fQ.YourServiceKeyHere"
            },
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "binary",
        "options": {}
      },
      "id": "upload-screenshot",
      "name": "Upload Screenshot to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        384
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/regrid_data?property_id=eq.{{ $('Parse Playwright Response').first().json.property_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"screenshot_url\": \"https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/public/screenshots/{{ $('Parse Playwright Response').first().json.parcel_id.replace(/[^a-zA-Z0-9]/g, '_') }}.png\"}",
        "options": {}
      },
      "id": "update-screenshot-url",
      "name": "Update Screenshot URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/update_batch_progress",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"p_job_id\": \"{{ $('Extract Job Data').first().json.job_id }}\", \"p_last_item_id\": \"{{ $('Parse Playwright Response').first().json.property_id }}\", \"p_items_processed\": 1, \"p_items_failed\": 0, \"p_error_message\": null}",
        "options": {}
      },
      "id": "update-progress",
      "name": "Update Job Progress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        384
      ]
    }
  ],
  "connections": {
    "Check for Jobs": {
      "main": [
        [
          {
            "node": "Get Pending Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Jobs": {
      "main": [
        [
          {
            "node": "Has Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Jobs?": {
      "main": [
        [
          {
            "node": "Extract Job Data",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract Job Data": {
      "main": [
        [
          {
            "node": "Get Properties to Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Properties to Scrape": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Prepare Regrid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Regrid URL": {
      "main": [
        [
          {
            "node": "Run Playwright Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Playwright Screenshot": {
      "main": [
        [
          {
            "node": "Parse Playwright Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Playwright Response": {
      "main": [
        [
          {
            "node": "Prepare DB Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Data": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Convert Screenshot to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Screenshot to Binary": {
      "main": [
        [
          {
            "node": "Upload Screenshot to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Screenshot to Supabase": {
      "main": [
        [
          {
            "node": "Update Screenshot URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Screenshot URL": {
      "main": [
        [
          {
            "node": "Update Job Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Progress": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "loop",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}