temp/workflow_compressed.json
{"name":"TDF - Regrid Scraper","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"schedule-trigger","name":"Check for Jobs","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[112,400]},{"parameters":{"url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/batch_jobs","sendQuery":true,"queryParameters":{"parameters":[{"name":"status","value":"in.(pending,in_progress)"},{"name":"job_type","value":"eq.regrid_scraping"},{"name":"select","value":"id,county_id,batch_size,processed_items,total_items,current_batch"},{"name":"order","value":"created_at.asc"},{"name":"limit","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"}]},"options":{}},"id":"get-pending-jobs","name":"Get Pending Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"check-job-exists","leftValue":"={{ Object.keys($json).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"check-jobs","name":"Has Jobs?","type":"n8n-nodes-base.if","typeVersion":2,"position":[512,400]},{"parameters":{"jsCode":"const jobs = $input.all();\nconsole.log(\u0027Input jobs:\u0027, JSON.stringify(jobs, null, 2));\nif (jobs.length \u003e 0 \u0026\u0026 jobs[0].json) {\n  const job = jobs[0].json;\n  if (job.id) {\n    console.log(\u0027Found job:\u0027, job.id);\n    return [{ json: { job_id: job.id, county_id: job.county_id, batch_size: job.batch_size || 50, total_items: job.total_items || 0, processed_items: job.processed_items || 0 } }];\n  }\n  if (Array.isArray(job) \u0026\u0026 job.length \u003e 0) {\n    const firstJob = job[0];\n    console.log(\u0027Found job (array):\u0027, firstJob.id);\n    return [{ json: { job_id: firstJob.id, county_id: firstJob.county_id, batch_size: firstJob.batch_size || 50, total_items: firstJob.total_items || 0, processed_items: firstJob.processed_items || 0 } }];\n  }\n}\nconsole.log(\u0027No valid job found\u0027);\nreturn [{ json: { job_id: null } }];"},"id":"extract-job","name":"Extract Job Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,384]},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_next_batch","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"p_job_id\": \"{{ $json.job_id }}\"}","options":{}},"id":"get-properties","name":"Get Properties to Scrape","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,384]},{"parameters":{"jsCode":"// Get property from loop\nconst property = $input.first().json;\n\nconst propertyId = property.item_id;\n\nif (!propertyId) {\n  console.error(\u0027ERROR: No item_id found! Available fields:\u0027, Object.keys(property));\n  throw new Error(\u0027Property ID (item_id) not found in input\u0027);\n}\n\nconsole.log(\u0027Processing property:\u0027, propertyId, property.parcel_id);\n\n// Build Regrid URL - Playwright will scrape REAL data from this URL\nconst county = property.county_name?.toLowerCase().replace(/\\s+/g, \u0027-\u0027) || \u0027unknown\u0027;\nconst state = property.state_code?.toLowerCase() || \u0027pa\u0027;\nconst parcelClean = (property.parcel_id || \u0027\u0027).replace(/[^a-zA-Z0-9]/g, \u0027\u0027);\nconst regridUrl = `https://app.regrid.com/us/${state}/${county}/parcel/${parcelClean}`;\n\n// Pass to Playwright - NO FAKE DATA GENERATION!\nreturn [{\n  json: {\n    property_id: propertyId,\n    parcel_id: property.parcel_id,\n    county_name: property.county_name,\n    state_code: property.state_code,\n    property_address: property.property_address,\n    regrid_url: regridUrl\n  }\n}];"},"id":"scrape-regrid-api","name":"Prepare Regrid URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,384]},{"parameters":{"url":"http://n8n-production-pwrunner-1:3001/run-regrid","sendQuery":true,"queryParameters":{"parameters":[{"name":"parcel","value":"={{ $json.parcel_id }}"},{"name":"county","value":"={{ $json.county_name }}"},{"name":"state","value":"={{ $json.state_code }}"},{"name":"property_id","value":"={{ $json.property_id }}"}]},"options":{"timeout":120000}},"id":"run-playwright-screenshot","name":"Run Playwright Screenshot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1472,384]},{"parameters":{"jsCode":"// Parse REAL data from Playwright scraping\nconst input = $input.first().json;\n\nlet response;\nif (typeof input.data === \u0027string\u0027) {\n  try {\n    response = JSON.parse(input.data);\n  } catch (e) {\n    throw new Error(\u0027Failed to parse Playwright response: \u0027 + e.message);\n  }\n} else if (input.success !== undefined) {\n  response = input;\n} else if (typeof input === \u0027string\u0027) {\n  response = JSON.parse(input);\n} else {\n  response = input;\n}\n\nif (!response.success) {\n  throw new Error(\u0027Playwright screenshot failed: \u0027 + (response.error || \u0027Unknown error\u0027));\n}\n\nif (!response.screenshot) {\n  throw new Error(\u0027No screenshot in Playwright response\u0027);\n}\n\nconst regridData = response.regrid_data || {};\n\n// Prepare data for database (only columns that exist in regrid_data table)\nconst dbData = {\n  property_id: response.property_id,\n  regrid_id: regridData.regrid_id || regridData.ll_uuid || null,\n  ll_uuid: regridData.ll_uuid || null,\n  property_type: regridData.property_type || null,\n  property_class: regridData.property_class || null,\n  land_use: regridData.land_use || null,\n  zoning: regridData.zoning || null,\n  lot_size_sqft: regridData.lot_size_sqft || null,\n  lot_size_acres: regridData.lot_size_acres || null,\n  lot_dimensions: regridData.lot_dimensions || null,\n  building_sqft: regridData.building_sqft || null,\n  year_built: regridData.year_built || null,\n  bedrooms: regridData.bedrooms || null,\n  bathrooms: regridData.bathrooms || null,\n  assessed_value: regridData.assessed_value || null,\n  assessed_land_value: regridData.assessed_land_value || null,\n  assessed_improvement_value: regridData.assessed_improvement_value || null,\n  market_value: regridData.market_value || null,\n  latitude: regridData.latitude || null,\n  longitude: regridData.longitude || null,\n  water_service: regridData.water_service || null,\n  sewer_service: regridData.sewer_service || null,\n  additional_fields: regridData.additional_fields || null,\n  data_quality_score: regridData.data_quality_score || 0.0,\n  scraped_at: new Date().toISOString()\n};\n\n// Return all fields needed for both database update and screenshot processing\nreturn {\n  json: {\n    property_id: response.property_id,\n    parcel_id: response.parcel_id,\n    screenshot: response.screenshot,\n    db_data: dbData,\n    success: response.success\n  }\n};"},"id":"parse-playwright-response","name":"Parse Playwright Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,384]},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/regrid_data?on_conflict=property_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.db_data) }}","options":{}},"id":"update-database","name":"Update Database","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,500]},{"parameters":{"jsCode":"// Convert base64 screenshot to binary for upload\n// Get screenshot from Parse Playwright Response (not from current input which may be from Update Database)\nconst parseResult = $(\u0027Parse Playwright Response\u0027).first().json;\nconst screenshot = parseResult.screenshot;\nconst parcelId = parseResult.parcel_id;\nconst propertyId = parseResult.property_id;\n\nif (!screenshot) {\n  throw new Error(\u0027No screenshot data found in Parse Playwright Response\u0027);\n}\n\n// Clean parcel ID for filename\nconst cleanParcelId = parcelId.replace(/[^a-zA-Z0-9]/g, \u0027_\u0027);\n\n// Return binary data that HTTP Request node can use\nreturn {\n  json: {\n    parcel_id: parcelId,\n    property_id: propertyId,\n    clean_parcel_id: cleanParcelId\n  },\n  binary: {\n    data: {\n      data: screenshot,\n      mimeType: \u0027image/jpeg\u0027,\n      fileName: cleanParcelId + \u0027.jpeg\u0027\n    }\n  }\n};"},"id":"convert-screenshot-code","name":"Convert Screenshot to Binary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,300]},{"parameters":{"method":"POST","url":"=https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/screenshots/{{ $json.clean_parcel_id }}.jpeg","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"image/jpeg"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"id":"upload-screenshot","name":"Upload Screenshot to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2256,300]},{"parameters":{"method":"PATCH","url":"=https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/regrid_data?property_id=eq.{{ $(\u0027Parse Playwright Response\u0027).first().json.property_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"screenshot_url\": \"https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/public/screenshots/{{ $(\u0027Parse Playwright Response\u0027).first().json.parcel_id.replace(/[^a-zA-Z0-9]/g, \u0027_\u0027) }}.jpeg\"}","options":{}},"id":"update-screenshot-url","name":"Update Screenshot URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,300]},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/update_batch_progress","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"p_job_id\": \"{{ $(\u0027Extract Job Data\u0027).first().json.job_id }}\", \"p_last_item_id\": \"{{ $(\u0027Parse Playwright Response\u0027).first().json.property_id }}\", \"p_items_processed\": 1, \"p_items_failed\": 0, \"p_error_message\": null}","options":{}},"id":"update-progress","name":"Update Job Progress","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,300]},{"parameters":{"httpMethod":"POST","path":"regrid-scraper","options":{}},"id":"webhook-trigger","name":"Manual Trigger (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[112,208],"webhookId":"2327e93e-2835-4da1-8e14-1f240810aead"}],"connections":{"Check for Jobs":{"main":[[{"node":"Get Pending Jobs","type":"main","index":0}]]},"Get Pending Jobs":{"main":[[{"node":"Has Jobs?","type":"main","index":0}]]},"Has Jobs?":{"main":[[{"node":"Extract Job Data","type":"main","index":0}],[]]},"Extract Job Data":{"main":[[{"node":"Get Properties to Scrape","type":"main","index":0}]]},"Get Properties to Scrape":{"main":[[{"node":"Prepare Regrid URL","type":"main","index":0}]]},"Manual Trigger (Webhook)":{"main":[[{"node":"Get Pending Jobs","type":"main","index":0}]]},"Prepare Regrid URL":{"main":[[{"node":"Run Playwright Screenshot","type":"main","index":0}]]},"Run Playwright Screenshot":{"main":[[{"node":"Parse Playwright Response","type":"main","index":0}]]},"Parse Playwright Response":{"main":[[{"node":"Update Database","type":"main","index":0},{"node":"Convert Screenshot to Binary","type":"main","index":0}]]},"Update Database":{"main":[[]]},"Convert Screenshot to Binary":{"main":[[{"node":"Upload Screenshot to Supabase","type":"main","index":0}]]},"Upload Screenshot to Supabase":{"main":[[{"node":"Update Screenshot URL","type":"main","index":0}]]},"Update Screenshot URL":{"main":[[{"node":"Update Job Progress","type":"main","index":0}]]},"Update Job Progress":{"main":[[]]}},"settings":{"executionOrder":"v1"}}
