n8n-backups/16tHqWBFpARbSmuK_JJ-Store-a-Contact.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:03:31.000Z","createdAt":"2025-09-10T08:03:18.703Z","id":"16tHqWBFpARbSmuK","name":"[JJ] Store a Contact","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"action\": \"create\",\n  \"user_telegram_id\": \"5979734586\",\n  \"contact_id\": -1,\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"nickname\": \"JD\",\n  \"email\": \"john@example.com\",\n  \"phone_number\": \"+1234567890\",\n  \"phone_number_alt\": \"SKIP_FIELD\",\n  \"birthday\": \"1990-01-01\",\n  \"company\": \"Tech Corp\",\n  \"job_title\": \"Developer\",\n  \"relationship_type\": \"colleague\",\n  \"how_met\": \"Work conference\",\n  \"notes\": \"Met at tech conference 2024\",\n  \"tags\": \"work,tech\",\n  \"telegram_username\": \"johndoe\",\n  \"telegram_id\": \"123456789\",\n  \"metadata\": \"{}\",\n  \"limit\": -1,\n  \"offset\": -1\n}"},"id":"359045a5-9e6d-475a-a5c4-e7006348f425","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-624,64],"typeVersion":1.1},{"parameters":{"jsCode":"// Filter SKIP_FIELD and -1 values\nconst input = $input.all()[0].json;\nconst cleaned = {};\n\nObject.entries(input).forEach(([key, value]) => {\n  // Skip SKIP_FIELD strings\n  if (value === 'SKIP_FIELD') return;\n  \n  // Skip -1 for numeric fields (except when it's a valid value)\n  if (value === -1 && ['contact_id', 'limit', 'offset'].includes(key)) {\n    // For contact_id only skip if action is not read/update/delete\n    if (key === 'contact_id' && ['read', 'update', 'delete'].includes(input.action)) {\n      cleaned[key] = value; // Keep -1 as error indicator\n    }\n    return; // Skip for other cases\n  }\n  \n  // Convert tags from string to array\n  if (key === 'tags' && typeof value === 'string' && value !== 'SKIP_FIELD') {\n    cleaned[key] = value.split(',').map(tag => tag.trim()).filter(tag => tag);\n    return;\n  }\n  \n  // Add all other values\n  cleaned[key] = value;\n});\n\n// Add default values where needed\nif (!cleaned.action) {\n  cleaned.action = 'create';\n}\n\nreturn cleaned;"},"id":"a4012e44-6011-4806-97fb-eddfffdd6f96","name":"Clean Contact Data","type":"n8n-nodes-base.code","position":[-416,64],"typeVersion":2},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/store-contact","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.fromEntries(Object.entries({\n  action: $json.action || 'create',\n  user_telegram_id: $json.user_telegram_id,\n  contact_id: $json.contact_id,\n  first_name: $json.first_name,\n  last_name: $json.last_name,\n  nickname: $json.nickname,\n  email: $json.email,\n  phone_number: $json.phone_number,\n  phone_number_alt: $json.phone_number_alt,\n  birthday: $json.birthday,\n  company: $json.company,\n  job_title: $json.job_title,\n  relationship_type: $json.relationship_type,\n  how_met: $json.how_met,\n  notes: $json.notes,\n  tags: $json.tags,\n  telegram_username: $json.telegram_username,\n  telegram_id: $json.telegram_id,\n  metadata: $json.metadata || '{}',\n  limit: $json.limit || 10,\n  offset: $json.offset || 0\n}).filter(([k, v]) => {\n  if (v == null) return false;\n  if (k === 'tags' && (!Array.isArray(v) || v.length === 0 || v === '')) return false;\n  return true;\n}))) }}","options":{}},"id":"af5f3b25-aa7d-4f4b-959f-975e89e1079e","name":"Store Contact Operation","type":"n8n-nodes-base.httpRequest","position":[-208,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"action-field","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"731fe11a-3057-441b-bc9c-70315780282b","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to perform contact operation' }}"},{"id":"error-action","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"9fc79409-f940-41b4-b6e7-70cee234d1a2","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clean Contact Data","type":"main","index":0}]]},"Clean Contact Data":{"main":[[{"node":"Store Contact Operation","type":"main","index":0}]]},"Store Contact Operation":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"68781776-62b5-49d5-a10b-5ddd14a79d66","tags":[]}}