n8n-backups/48zvrtwvoxqrh8v8_TDF-Tax-Auction-Research-Agent.json
{"success":true,"data":{"updatedAt":"2026-01-26T00:33:59.295Z","createdAt":"2026-01-11T14:11:18.806Z","id":"48zvrtwvoxqrh8v8","name":"TDF - Tax Auction Research Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tax-research","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Research Request Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-224,0],"webhookId":"tax-research-webhook","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"={{ $json.body.prompt || 'Research ' + $json.body.county + ' County, ' + $json.body.state + ' tax auctions with multi-source verification' }}","options":{"systemMessage":"You are a Tax Auction Research Agent with MULTI-SOURCE VERIFICATION capabilities."}},"id":"ai-agent","name":"Tax Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[192,0]},{"parameters":{"model":{"mode":"id","value":"gpt-4o-mini"},"options":{"temperature":0.3}},"id":"openai-chat","name":"OpenAI GPT-4","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-16,240],"credentials":{"openAiApi":{"id":"224l8PKoMiKAr2Bc","name":"OpenAi account"}}},{"parameters":{"messages":{"message":[{}]},"options":{},"requestOptions":{}},"id":"perplexity-tool","name":"Perplexity Research","type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[512,208],"credentials":{"perplexityApi":{"id":"fz7IVHwYwmEYHZN0","name":"Perplexity account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"tax-research-session"},"id":"simple-memory","name":"Simple Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[128,368]},{"parameters":{"toolDescription":"Get or create a county record in Supabase.","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_or_create_county","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-get-county","name":"GetOrCreateCounty","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[704,208]},{"parameters":{"toolDescription":"Store an official link for a county.","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/upsert_official_link","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-upsert-link","name":"UpsertOfficialLink","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[912,208]},{"parameters":{"toolDescription":"Store an upcoming tax sale/auction.","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/upsert_upcoming_sale","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-upsert-sale","name":"UpsertUpcomingSale","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[704,400]},{"parameters":{"toolDescription":"Store a document (PDF, property list).","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/upsert_document","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-upsert-document","name":"UpsertDocument","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[912,400]},{"parameters":{"toolDescription":"Store an additional resource.","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/upsert_additional_resource","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-upsert-resource","name":"UpsertAdditionalResource","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[704,608]},{"parameters":{"toolDescription":"Store an important note.","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/upsert_important_note","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-upsert-note","name":"UpsertImportantNote","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[912,608]},{"parameters":{"toolDescription":"Record a research gap.","method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/record_research_gap","sendHeaders":true,"sendBody":true,"optimizeResponse":true},"id":"http-record-gap","name":"RecordResearchGap","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1120,400]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[656,0]}],"connections":{"Research Request Webhook":{"main":[[{"node":"Tax Research Agent","type":"main","index":0}]]},"OpenAI GPT-4":{"ai_languageModel":[[{"node":"Tax Research Agent","type":"ai_languageModel","index":0}]]},"Perplexity Research":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Tax Research Agent","type":"ai_memory","index":0}]]},"GetOrCreateCounty":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"UpsertOfficialLink":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"UpsertUpcomingSale":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"UpsertDocument":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"UpsertAdditionalResource":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"UpsertImportantNote":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"RecordResearchGap":{"ai_tool":[[{"node":"Tax Research Agent","type":"ai_tool","index":0}]]},"Tax Research Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"versionId":"20d78469-afb5-4cae-b240-5d8c99b7caf4","tags":[]}}