n8n-backups/4L0GulXueUIHWsM3_TDF-Batch-County-Research-Agent.json
{"success":true,"data":{"updatedAt":"2026-01-11T20:44:22.607Z","createdAt":"2026-01-11T15:41:55.142Z","id":"4L0GulXueUIHWsM3","name":"TDF - Batch County Research Agent","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,304]},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_counties_needing_research","sendHeaders":true,"sendBody":true,"specifyBody":"json","jsonBody":"{\"p_limit\": 5}","options":{}},"id":"get-counties","name":"Get Counties Needing Research","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,224]},{"parameters":{"assignments":{"assignments":[{"id":"county_id","name":"county_id","value":"={{ $json.county_id }}","type":"string"},{"id":"county_name","name":"county_name","value":"={{ $json.county_name }}","type":"string"},{"id":"state_code","name":"state_code","value":"={{ $json.state_code }}","type":"string"},{"id":"research_task","name":"research_task","value":"={{ 'Research tax auction info for ' + $json.county_name + ' County, ' + $json.state_code }}","type":"string"}]},"options":{}},"id":"preview-county","name":"Preview County to Research","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,224]},{"parameters":{"promptType":"define","text":"Research agent prompt...","options":{}},"id":"ai-agent","name":"Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1008,224]},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2","mode":"list"},"options":{"temperature":0.3}},"id":"openai-model","name":"OpenAI GPT-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,624],"credentials":{"openAiApi":{"id":"224l8PKoMiKAr2Bc","name":"OpenAi account"}}},{"parameters":{"messages":{"message":[{"content":"={{ $fromAI('query', 'The search query for tax auction research') }}"}]},"simplify":true,"options":{},"requestOptions":{}},"id":"perplexity-tool","name":"Perplexity Research","type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[1280,560],"credentials":{"perplexityApi":{"id":"fz7IVHwYwmEYHZN0","name":"Perplexity account"}}},{"parameters":{"httpMethod":"POST","path":"research-counties","responseMode":"lastNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,112],"webhookId":"a1b2c3d4-research-counties"},{"parameters":{"toolDescription":"Google Custom Search","url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1072,560],"id":"f59338b8-4c53-4261-9269-01b9746dda04","name":"Google Search API"},{"parameters":{"jsCode":"// Parse AI Agent output..."},"id":"parse-research-output","name":"Parse Research Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,224]},{"parameters":{"jsCode":"// Prepare all Supabase RPC calls..."},"id":"store-to-supabase","name":"Prepare DB Operations","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,224]},{"parameters":{"method":"={{ $json.method || 'POST' }}","url":"={{ $json.endpoint ? 'https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/' + $json.endpoint : 'https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/' + $json.rpc_function }}","sendHeaders":true,"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.params) }}","options":{"response":{"response":{"neverError":true,"responseFormat":"text"}}}},"id":"execute-supabase-rpc","name":"Execute Supabase RPC","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1712,224]}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Counties Needing Research","type":"main","index":0}]]},"Get Counties Needing Research":{"main":[[{"node":"Preview County to Research","type":"main","index":0}]]},"Preview County to Research":{"main":[[{"node":"Research Agent","type":"main","index":0}]]},"OpenAI GPT-4o-mini":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"Perplexity Research":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Get Counties Needing Research","type":"main","index":0}]]},"Google Search API":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"Research Agent":{"main":[[{"node":"Parse Research Output","type":"main","index":0}]]},"Parse Research Output":{"main":[[{"node":"Prepare DB Operations","type":"main","index":0}]]},"Prepare DB Operations":{"main":[[{"node":"Execute Supabase RPC","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"versionId":"1d728744-60b2-47ec-987b-038ecc5d69b7","tags":[]}}