n8n-backups/5xZIPh2TIGYKdnZI_TDF-Data-Integrity-Check.json
{"success":true,"data":{"updatedAt":"2026-01-09T02:51:22.368Z","createdAt":"2026-01-09T02:20:56.874Z","id":"5xZIPh2TIGYKdnZI","name":"TDF - Data Integrity Check","active":true,"isArchived":false,"nodes":[{"id":"schedule-trigger","name":"Daily Audit Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[100,300],"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}}},{"id":"webhook-trigger","name":"On-Demand Audit","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,500],"parameters":{"path":"data-integrity-check","httpMethod":"POST","responseMode":"responseNode","options":{}},"onError":"continueRegularOutput"},{"id":"merge-triggers","name":"Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":3,"position":[300,400],"parameters":{"mode":"chooseBranch","output":"empty"}},{"id":"get-agent-work-report","name":"Get Agent Work Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,300],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_agent_work_report","authentication":"none","sendHeaders":true,"options":{}}},{"id":"get-county-summary","name":"Get County Work Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,500],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_county_work_summary","authentication":"none","sendHeaders":true,"options":{}}},{"id":"get-active-counts","name":"Get Active Property Counts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,700],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_active_property_counts","authentication":"none","sendHeaders":true,"options":{}}},{"id":"merge-results","name":"Merge All Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[700,500],"parameters":{"mode":"append","numberInputs":3}},{"id":"format-report","name":"Format Integrity Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,500],"parameters":{"jsCode":"// Format report code..."}},{"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1100,500],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}}}],"connections":{"Daily Audit Trigger":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"On-Demand Audit":{"main":[[{"node":"Merge Triggers","type":"main","index":1}]]},"Merge Triggers":{"main":[[{"node":"Get Agent Work Report","type":"main","index":0},{"node":"Get County Work Summary","type":"main","index":0},{"node":"Get Active Property Counts","type":"main","index":0}]]},"Get Agent Work Report":{"main":[[{"node":"Merge All Results","type":"main","index":0}]]},"Get County Work Summary":{"main":[[{"node":"Merge All Results","type":"main","index":1}]]},"Get Active Property Counts":{"main":[[{"node":"Merge All Results","type":"main","index":2}]]},"Merge All Results":{"main":[[{"node":"Format Integrity Report","type":"main","index":0}]]},"Format Integrity Report":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"versionId":"d2311883-d75e-47ad-bd76-0e685c63909f","tags":[]}}