n8n-backups/6ZwtJnkJ6ESIXFKH_My-workflow.json
{"success":true,"data":{"updatedAt":"2025-09-15T02:21:15.000Z","createdAt":"2025-09-12T03:08:37.178Z","id":"6ZwtJnkJ6ESIXFKH","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"=Here is the next e\u2011mail object to process.  \n\u2022 The variable name is **email** exactly as described in your system instructions.  \n\u2022 Follow the steps in the system prompt (deduplicate \u27a4 classify \u27a4 send message via Telegram).  \n\n```json\n{{ JSON.stringify($json, null, 2) }}\n","hasOutputParser":true,"options":{"systemMessage":"=You are **InboxBrain**, an autonomous e\u2011mail\u2013triage agent that runs inside an n8n workflow.\n\nYou always receive **one** JSON object called `email`. \n\nPrimary objectives for every new message  \n1. **De\u2011duplicate**  \n   \u2013 Call `db_get_by_id(id)` to see whether the message was already handled.  \n   \u2013 If a record is returned, immediately `return \"already_processed\"` and stop.\n\n\n3. **Email Classification Rules:**\n\nClassify emails by importance (high|normal|low) and urgency (urgent|non-urgent) using these heuristics:\n\n**High & Urgent**: Direct questions needing response <48h, sponsorship requests, password/access submissions, conference deadlines <1 week, urgent business decisions, speaking events <2 weeks, important thread follow-ups\n\n**High & Non-Urgent**: Strategy/planning discussions, contracts, partnerships, finances, speaking invites >1 month out, new business pitches, CC'd emails about [YOUR_PROJECT_1]/[YOUR_PROJECT_2]/[YOUR_PLATFORM]/[YOUR_CHANNEL]\n\n**Low & Non-Urgent**: Service alerts, calendar reminders, flight confirmations, service pitches (video editing/thumbnails/\"grow your channel\"), newsletters, receipts, no-reply emails, CC'd emails outside core areas\n\n**Spam Indicators**: Cold pitches with \"editing services\", \"thumbnail design\", \"10x views\", multiple emojis, generic templates\n\n**Core Areas** (always high important and urgent): [YOUR_BUSINESS_AREA_1], [YOUR_PROJECT_NAME], [YOUR_COMMUNITY_NAME], [YOUR_MAIN_PLATFORM]\n\n4. **Act**  \n   *If* importance = high **OR** urgency = urgent *Than* use 'Send_Telegram_Message' tool to send a message about an email. Once email is 'already_processed' after message sent, don't send more messages\n\n   The message sent should fit in one Telegram push (< 4096 chars) and contain, prepare your message so that Telegram module can parse it into nice HTML display:  \n   **From \u2022 Subject \u2022 summary with bullet list of key information 500 chars of body \u2022 importance/urgency \u26a1**\n\n\nAlways return a concise JSON array with the shape  \n'''json\n[\n  {\n    \"status\": \"done\" | \"already_processed\" | \"error\",\n    \"importance\": \"...\",\n    \"urgency\": \"...\",\n    \"telegramSent\": true | false,\n    \"telegram_notify(text)\": \"your written message\"\n  }\n]\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-80,352],"id":"a7d1c103-d1ac-4ae9-9abc-5ea068e3a678","name":"AI Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0dbed0fc-8a7a-4d3e-a8ef-5f2a3f5c6d09","leftValue":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","rightValue":"noreply@skool.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"855076ae-255e-47c2-a4b7-0e26c17863a6","leftValue":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","rightValue":"=messaging-digest-noreply@linkedin.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"e29a1cc3-0561-49e5-b66e-a8aa43ab0c96","leftValue":"={{ $('Gmail Trigger').item.json.subject }}","rightValue":"sent you a message ","operator":{"type":"string","operation":"contains"}},{"id":"ec6fcd2a-2dfc-49a7-8749-cf7404cb09eb","leftValue":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","rightValue":"just messaged you","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,208],"id":"7dcff819-5083-4d73-a37d-70c5a94d60f2","name":"If","retryOnFail":false},{"parameters":{"jsCode":"const msg = $json;\n\n// Helpers to detect source\nfunction isSkoolDM(m) {\n  const from    = (m.from?.value?.[0]?.address  || '').toLowerCase();\n  const subject = (m.subject               || '').toLowerCase();\n  return from.includes('skool.com') &&\n         /sent you (a )?message|messaged you/i.test(subject);\n}\n\nfunction isLinkedInDM(m) {\n  const from    = (m.from?.value?.[0]?.address  || '').toLowerCase();\n  const subject = (m.subject               || '').toLowerCase();\n  const html    = (m.html                  || '').toLowerCase();\n  return from.includes('messaging-digest-noreply@linkedin.com') &&\n         (subject.includes('just messaged you') ||\n          html.includes('linkedin.com/comm/messaging/thread/'));\n}\n\n// Determine platform\nlet platform;\nif (isSkoolDM(msg))       platform = 'skool';\nelse if (isLinkedInDM(msg)) platform = 'linkedin';\nelse                        platform = 'other';\n\n// Extract the relevant link depending on platform\nlet link = 'No link found';\nif (platform === 'skool') {\n  const m = (msg.text || '').match(/https:\\/\\/(?:[a-z]+\\.)?skool\\.com\\/[^\\s]+/);\n  if (m) link = m[0];\n}\nelse if (platform === 'linkedin') {\n  const m = (msg.html || '').match(/https:\\/\\/www\\.linkedin\\.com\\/comm\\/messaging\\/thread\\/[^\\s'\"<>]+/);\n  if (m) link = m[0];\n}\n\n// Safely extract sender name or address\nconst sender = (() => {\n  const subMatch = (msg.subject || '').match(/from (.+)$/i);\n  if (subMatch) return subMatch[1];\n  return msg.from?.value?.[0]?.name\n      || msg.from?.value?.[0]?.address\n      || 'Unknown sender';\n})();\n\n// Plain-text preview (first 180 chars)\nconst preview = (msg.text || '')\n  .replace(/<[^>]+>/g, '')\n  .slice(0, 180)\n  .trim();\n\nreturn {\n  json: {\n    platform,     // \"skool\" | \"linkedin\" | \"other\"\n    sender,\n    link,\n    preview,\n    subject: msg.subject,\n    email_id: msg.id\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"f3d9bade-3476-4560-9b7c-da8e85f3fc84","name":"Code1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-240,592],"id":"d0c815d5-e7f7-4061-bc1a-92d807ff30af","name":"OpenAI model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gmail Trigger').item.json.id }}","contextWindowLength":1},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-96,592],"id":"c280a1da-9ae2-4662-846e-07b5bfaab02a","name":"db_get_by_id","credentials":{"postgres":{"id":"9yYzM0rUTriwaOdc","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9841a06-3749-41db-997c-c8033d27af43","leftValue":"={{ $json.telegramSent }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,464],"id":"602fa279-20df-4a08-9869-7619cc8b3424","name":"If1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-736,208],"id":"4d0a7c35-2649-42e6-949e-603440b7c0b6","name":"Gmail Trigger"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const msg = $json;\n\nfunction isSkoolDM(m) {\n  const from    = (m.from?.value?.[0]?.address  || '').toLowerCase();\n  const subject = (m.subject               || '').toLowerCase();\n\n  return from.includes('skool.com') &&\n         /sent you (a )?message|messaged you/i.test(subject);\n}\n\nfunction isLinkedInDM(m) {\n  const from    = (m.from?.value?.[0]?.address  || '').toLowerCase();\n  const subject = (m.subject               || '').toLowerCase();\n  const html    = (m.html                  || '').toLowerCase();\n\n  return from.includes('messaging-digest-noreply@linkedin.com') &&\n         (subject.includes('just messaged you') ||\n          html.includes('linkedin.com/comm/messaging/thread/'));\n}\n\nfunction looksBulk(m) {\n  const badCats = ['CATEGORY_PROMOTIONS','CATEGORY_UPDATES','CATEGORY_FORUMS','CATEGORY_SOCIAL'];\n  if ((m.labelIds || []).some(l => badCats.includes(l))) return true;\n  if (m.headers?.['list-unsubscribe']) return true;\n\n  const from    = (m.from?.value?.[0]?.address  || '').toLowerCase();\n  const subject = (m.subject               || '').toLowerCase();\n  const bulkRx  = [/no[-_.]?reply/, /newsletter/, /notification/, /receipt|invoice|statement|order|bill/];\n  if (bulkRx.some(r => r.test(from) || r.test(subject))) return true;\n\n  if (m.headers?.['precedence']?.match(/bulk|list/i)) return true;\n\n  return false;\n}\n\n// Final logic:\nif (isSkoolDM(msg) || isLinkedInDM(msg)) {\n  return { json: msg };\n}\n\nif (looksBulk(msg)) {\n  return null;\n}\n\nreturn { json: msg };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,208],"id":"1c21ee33-6902-4da8-a11c-8e1f9f2a59b2","name":"Bulk Filtering","executeOnce":true},{"parameters":{"jsCode":"const LABEL_MAP = {\n  'Urgent-Important':      'YOUR_URGENT_IMPORTANT_LABEL_ID',\n  'Important-Not-Urgent':  'YOUR_IMPORTANT_NOT_URGENT_LABEL_ID',\n  'Urgent-Not-Important':  'YOUR_URGENT_NOT_IMPORTANT_LABEL_ID',\n  'Low':                   'YOUR_LOW_PRIORITY_LABEL_ID',\n};\n\nconst rawAiOutputString = $input.first().json.output; \n\nlet aiClassification;\ntry {\n  let cleanJsonString = rawAiOutputString.replace(/^```json\\s*|```\\s*$/g, '');\n  cleanJsonString = cleanJsonString.trim();\n\n  const parsedOutput = JSON.parse(cleanJsonString);\n\n  if (Array.isArray(parsedOutput) && parsedOutput.length > 0) {\n    aiClassification = parsedOutput[0];\n  } else {\n    throw new Error(\"Parsed AI output is not a non-empty array.\");\n  }\n\n} catch (e) {\n  console.error(\"Error parsing AI output:\", e.message, \"Raw output was:\", rawAiOutputString);\n  return { json: { labelId: LABEL_MAP['Low'], error: \"AI output JSON parsing error\", rawOutput: rawAiOutputString } };\n}\n\nif (typeof aiClassification !== 'object' || aiClassification === null) {\n    console.error(\"aiClassification is not an object after parsing. Value:\", aiClassification);\n    return { json: { labelId: LABEL_MAP['Low'], error: \"Parsed aiClassification is not an object\" } };\n}\n\nlet descriptiveLabel;\nif (aiClassification.importance === 'high' && aiClassification.urgency === 'urgent') {\n  descriptiveLabel = 'Urgent-Important';\n} else if (aiClassification.importance === 'high' && aiClassification.urgency !== 'urgent') {\n  descriptiveLabel = 'Important-Not-Urgent';\n} else if (aiClassification.importance !== 'high' && aiClassification.urgency === 'urgent') {\n  descriptiveLabel = 'Urgent-Not-Important';\n} else { \n  descriptiveLabel = 'Low';\n}\n\nlet finalOutput = {\n    status: aiClassification.status,\n    importance: aiClassification.importance,\n    urgency: aiClassification.urgency,\n    telegramSent: aiClassification.telegramSent,\n    telegram_notify_text: aiClassification['telegram_notify(text)'],\n    labelId: LABEL_MAP[descriptiveLabel],\n    descriptiveLabel: descriptiveLabel\n};\n\nreturn { json: finalOutput };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,352],"id":"a605446b-eeb9-4044-95cd-9e75e912db6f","name":"Output to Labels"},{"parameters":{"assignments":{"assignments":[{"id":"840f9a05-b0bb-415d-8473-69a664851f68","name":"formatted_message","value":"={{ $json.platform === 'skool' \n  ? `\ud83c\udf93 <b>Skool Message</b>\n\n<b>From:</b> ${$json.sender}\n\n<b>Preview:</b> ${$json.preview}\n\n<a href=\"${$json.link}\">View on Skool \u2192</a>` \n  : $json.platform === 'linkedin' \n  ? `\ud83d\udcbc <b>LinkedIn Message</b>\n\n<b>From:</b> ${$json.sender}\n\n<b>Preview:</b> ${$json.preview}\n\n<a href=\"${$json.link}\">View on LinkedIn \u2192</a>` \n  : `\ud83d\udce8 <b>New Message</b>\n\n<b>Platform:</b> ${$json.platform || 'Unknown'}\n<b>From:</b> ${$json.sender || 'Unknown'}\n\n<b>Content:</b> ${$json.preview || 'No preview'}\n\n${$json.link !== 'No link found' ? `<a href=\"${$json.link}\">View Message \u2192</a>` : 'No link available'}` }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,0],"id":"e004d147-6f80-4258-be10-ca88aee55302","name":"Message Formating"},{"parameters":{"operation":"addLabels","messageId":"={{ $('If').item.json.id }}","labelIds":"={{ $json.labelId }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[528,256],"id":"090c35a4-498b-4088-bd45-9dcbb831f17a","name":"Gmail Labels","webhookId":"5ea65e62-cc6e-4c5c-bbee-4e65578c939a"},{"parameters":{"assignments":{"assignments":[{"id":"c39da779-ea5e-412d-a406-353d7c7747d3","name":"={{ $('Output to Labels').item.json.telegram_notify_text }}","value":"={{\n($json.descriptiveLabel === 'Urgent-Important' ? '\ud83d\udea8' :\n $json.descriptiveLabel === 'Important-Not-Urgent' ? '\u26a0\ufe0f' :\n $json.descriptiveLabel === 'Urgent-Not-Important' ? '\u23f0' : '\ud83d\udce7') + \n' **Email Classification**\\n\\n' +\n'**Priority:** ' + ($json.descriptiveLabel || 'Low') + '\\n' +\n'**Status:** ' + ($json.status || 'Unknown') + '\\n' +\n'**Importance:** ' + ($json.importance || 'unknown') + '\\n' +\n'**Urgency:** ' + ($json.urgency || 'unknown') + '\\n\\n' +\n'**Message:**\\n' +\n($json.telegram_notify_text || 'No message text') + '\\n\\n' +\n'---\\n*Processed by Email AI Agent*'\n}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,464],"id":"af55e37e-54b6-4dfd-bc58-3089c26edb67","name":"Message Formatting for Email"},{"parameters":{"method":"POST","url":"YOUR_WEBHOOK_URL_HERE","sendBody":true,"bodyParameters":{"parameters":[{"name":"telegram_message","value":"={\n  \"message_type\": \"email_classification\",\n  \"classification\": {\n    \"importance\": \"{{ $('Output to Labels').item.json.importance }}\",\n    \"urgency\": \"{{ $('Output to Labels').item.json.urgency }}\"\n  },\n  \"original_message\": \"{{ $('Gmail Trigger').item.json.text }}\",\n  \"from\": \"{{ $('Gmail Trigger').item.json.headers.from }}\",\n  \"subject\": \"{{ $('Gmail Trigger').item.json.headers.subject }}\",\n  \"timestamp\": \"{{ $now }}\",\n}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,464],"id":"e7729efe-ccd7-41a9-bd66-659c9e50f364","name":"JJ webhook (email)"},{"parameters":{"method":"POST","url":"YOUR_WEBHOOK_URL_HERE","sendBody":true,"bodyParameters":{"parameters":[{"name":"telegram_message","value":"={{ $json.formatted_message }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,0],"id":"c6ccb94a-9a25-447b-b809-ca33d3dda4b7","name":"JJ Webhook (skool/linkedin)"}],"connections":{"If":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"AI Agent","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Message Formating","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Output to Labels","type":"main","index":0}]]},"OpenAI model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"db_get_by_id":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"If1":{"main":[[{"node":"Message Formatting for Email","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Bulk Filtering","type":"main","index":0}]]},"Bulk Filtering":{"main":[[{"node":"If","type":"main","index":0}]]},"Output to Labels":{"main":[[{"node":"Gmail Labels","type":"main","index":0},{"node":"If1","type":"main","index":0}]]},"Message Formating":{"main":[[{"node":"JJ Webhook (skool/linkedin)","type":"main","index":0}]]},"Message Formatting for Email":{"main":[[{"node":"JJ webhook (email)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8a4ed812-9e14-441d-9987-1b5848f993d5","tags":[]}}