n8n-backups/8slK6HRvwtzjM9xj_County-Tax-Auction-Link-Finder.json
{"success":true,"data":{"updatedAt":"2026-01-04T20:15:17.213Z","createdAt":"2026-01-04T19:54:47.859Z","id":"8slK6HRvwtzjM9xj","name":"County Tax Auction Link Finder","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Input validation for county tax auction search\nconst items = $input.all();\nconst validatedItems = [];\n\nfor (const item of items) {\n  const body = item.json.body || item.json;\n  \n  let county = body.county;\n  let state = body.state;\n  \n  if (body.chatInput && !county && !state) {\n    const chatInput = body.chatInput.toString().trim();\n    \n    const patterns = [\n      /^(.+?)\\s+County\\s+([A-Z]{2})$/i,\n      /^(.+?)\\s*,\\s*([A-Z]{2})$/i,\n      /^(.+?)\\s+([A-Z]{2})$/i\n    ];\n    \n    for (const pattern of patterns) {\n      const match = chatInput.match(pattern);\n      if (match) {\n        county = match[1].replace(/\\s+County\\s*$/i, '').trim();\n        state = match[2].toUpperCase();\n        break;\n      }\n    }\n  }\n  \n  if (!county || !state) {\n    return [{\n      json: {\n        error: \"Missing required fields: county and state are required\",\n        example: \"Try: 'Blair County PA' or 'Blair, PA' or send JSON: {\\\"county\\\": \\\"Blair\\\", \\\"state\\\": \\\"PA\\\"}\",\n        receivedInput: body.chatInput || body\n      }\n    }];\n  }\n  \n  if (state.length !== 2) {\n    return [{\n      json: {\n        error: \"State must be a 2-letter code (e.g., 'PA', 'FL', 'TX')\",\n        provided: state,\n        example: \"Try: 'Blair County PA' or 'Blair, PA'\"\n      }\n    }];\n  }\n  \n  validatedItems.push({\n    json: {\n      county: county,\n      state: state,\n      searchQueries: {\n        officialCounty: 'site:.gov \"' + county + ' County\" \"' + state + '\" \"tax claim\" OR \"tax sale\"',\n        stateSpecific: 'site:' + county.toLowerCase() + '.' + state.toLowerCase() + '.us \"upset\" OR \"judicial\" OR \"repository\"',\n        documentMining: '\"' + county + ' County\" \"' + state + '\" \"tax sale notice\" filetype:pdf',\n        vendorBid4Assets: 'site:bid4assets.com \"' + county + ' County\" \"' + state + '\"',\n        vendorRealAuction: 'site:realauction.com \"' + county + ' County\" \"' + state + '\"',\n        legalNotices: '\"' + county + ' County\" \"' + state + '\" \"tax sale\" \"legal notice\" 2025'\n      },\n      originalRequest: body\n    }\n  });\n}\n\nreturn validatedItems;"},"id":"f586f481-0d7f-407d-8ba9-7c1508d6542b","name":"Input Validation","type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,48]},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyD3FEgKz60aQOci2AoIspIgdNv4CWsnDAU"},{"name":"cx","value":"b05742ad628374020"},{"name":"q","value":"={{ $json.searchQueries.officialCounty }}"}]},"options":{}},"id":"e34152bf-1e46-4c62-adb4-e64b6aadcc49","name":"Search Official County","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-688],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Merge all search results for AI processing\nconst items = $input.all();\nconst searchResults = [];\n\nfor (const item of items) {\n  if (item.json && typeof item.json === 'object') {\n    searchResults.push({\n      source: item.json.source || 'unknown',\n      content: item.json.content || item.json.body || JSON.stringify(item.json),\n      url: item.json.url || 'unknown'\n    });\n  }\n}\n\nlet queryData = null;\nfor (const item of items) {\n  if (item.json.county && item.json.state) {\n    queryData = {\n      county: item.json.county,\n      state: item.json.state,\n      originalRequest: item.json.originalRequest\n    };\n    break;\n  }\n}\n\nif (!queryData) {\n  for (const item of items) {\n    if (item.json.originalRequest) {\n      queryData = {\n        county: item.json.originalRequest.county,\n        state: item.json.originalRequest.state,\n        originalRequest: item.json.originalRequest\n      };\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    query: queryData || { county: 'Unknown', state: 'Unknown' },\n    searchResults: searchResults,\n    totalResults: searchResults.length,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"343b17b9-ab08-4c1d-be6e-928643683bab","name":"Merge Search Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,96]},{"parameters":{"resource":"chat","chatModel":"gpt-5.2","prompt":{"messages":[{"role":"system","content":"You are a specialized AI agent designed to find official county tax auction information. Your task is to analyze search results and extract structured information about tax auctions for the given county and state.\n\nYour response must be ONLY a valid JSON object following this exact schema:\n\n{\n  \"query\": {\n    \"county\": \"string\",\n    \"state\": \"string (2-letter code)\"\n  },\n  \"system\": \"string (PA Upset->Judicial->Repository, FL Lien Certificates, etc.)\",\n  \"official\": {\n    \"tax_claim_hub\": \"string|null\",\n    \"property_lists\": \"string|null\",\n    \"repository\": \"string|null\",\n    \"results_archive\": \"string|null\",\n    \"how_to_register\": \"string|null\"\n  },\n  \"next_sales\": [\n    {\n      \"type\": \"Upset|Judicial|Repository|Lien|Deed|Scavenger|Treasurer\",\n      \"datetime_local\": \"ISO 8601 string|null\",\n      \"location\": \"string|null\",\n      \"prereg_deadline\": \"ISO 8601 string|null\",\n      \"online_or_in_person\": \"Online|In-Person|Hybrid|null\",\n      \"notice_link\": \"string|null\"\n    }\n  ],\n  \"auction_vendors\": [\n    {\n      \"name\": \"string\",\n      \"sale_portal\": \"string\"\n    }\n  ],\n  \"documents\": [\n    {\n      \"title\": \"string\",\n      \"url\": \"string\",\n      \"format\": \"pdf|doc|docx|xls|xlsx|html\"\n    }\n  ],\n  \"notes\": [\n    \"string\"\n  ]\n}\n\nPrioritize:\n1. Official government sources (.gov, .us, county.org)\n2. Recognized vendors (Bid4Assets, RealAuction, Grant Street Group)\n3. Legal notices (last resort)\n\nUse null for unknown information. Do not fabricate dates or links."},{"content":"County: {{ $json.query.county }}\nState: {{ $json.query.state }}\n\nSearch Results:\n{{ $json.searchResults | json }}\n\nExtract and structure the tax auction information for this county."}]},"options":{},"requestOptions":{}},"id":"30fa73dd-a360-4247-9eca-38d037626b5e","name":"AI Analysis & Extraction","type":"n8n-nodes-base.openAi","typeVersion":1.1,"position":[672,96],"credentials":{"openAiApi":{"id":"224l8PKoMiKAr2Bc","name":"OpenAi account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Parse AI response and format final JSON\nconst items = $input.all();\nlet finalResponse = null;\n\nfor (const item of items) {\n  try {\n    let aiResponse = item.json;\n    \n    if (aiResponse.choices && aiResponse.choices[0] && aiResponse.choices[0].message) {\n      const messageContent = aiResponse.choices[0].message.content;\n      \n      let cleanedContent = messageContent.trim();\n      cleanedContent = cleanedContent.replace(/^```json\\n/, '').replace(/\\n```$/, '');\n      cleanedContent = cleanedContent.replace(/^```\\n/, '').replace(/\\n```$/, '');\n      \n      try {\n        finalResponse = JSON.parse(cleanedContent);\n      } catch (parseError) {\n        finalResponse = {\n          error: \"Failed to parse AI response\",\n          raw_response: messageContent,\n          parse_error: parseError.message\n        };\n      }\n    } else if (typeof aiResponse === 'object' && aiResponse.query) {\n      finalResponse = aiResponse;\n    } else {\n      finalResponse = {\n        error: \"Unexpected AI response format\",\n        raw_response: aiResponse\n      };\n    }\n    \n    break;\n  } catch (error) {\n    finalResponse = {\n      error: \"Error processing AI response\",\n      error_message: error.message,\n      raw_item: item.json\n    };\n  }\n}\n\nif (!finalResponse) {\n  finalResponse = {\n    error: \"No valid response from AI processing\",\n    input_items: items.length\n  };\n}\n\nreturn [{ json: finalResponse }];"},"id":"13c6a9bb-95b9-4e03-8a17-6de5912fbae9","name":"Format JSON Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[832,96]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"7afcd54d-d423-4b82-8cb8-87ffa5d0091f","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1024,96],"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-272,48],"id":"d2cc24f5-e9be-481d-b605-48f7a0a45f67","name":"When chat message received","webhookId":"eb68bfa7-2a7b-4308-ab58-3f888e062356"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyD3FEgKz60aQOci2AoIspIgdNv4CWsnDAU"},{"name":"cx","value":"b05742ad628374020"},{"name":"q","value":"={{ $json.searchQueries.vendorBid4Assets }}"}]},"options":{}},"id":"bd58c19b-1a1e-4c74-aafc-aed1f034fc17","name":"Search Bid4Assets1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,48],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyD3FEgKz60aQOci2AoIspIgdNv4CWsnDAU"},{"name":"cx","value":"b05742ad628374020"},{"name":"q","value":"={{ $json.searchQueries.vendorRealAuction }}"}]},"options":{}},"id":"1acecad9-ecd9-42fa-ae1f-b4a6b6c86fd8","name":"Search RealAuction1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,304],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyD3FEgKz60aQOci2AoIspIgdNv4CWsnDAU"},{"name":"cx","value":"b05742ad628374020"},{"name":"q","value":"={{ $json.searchQueries.legalNotices }}"}]},"options":{}},"id":"6e8b64a5-7133-435c-b4ce-0b871374ac89","name":"Search Legal Notices","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,640],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyD3FEgKz60aQOci2AoIspIgdNv4CWsnDAU"},{"name":"cx","value":"b05742ad628374020"},{"name":"q","value":"={{ $json.searchQueries.documentMining }}"}]},"options":{}},"id":"98aa3429-4c81-4065-ad85-7d6dee85c294","name":"Search Documents1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-192],"onError":"continueRegularOutput"},{"parameters":{"url":"https://www.googleapis.com/customsearch/v1","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"AIzaSyD3FEgKz60aQOci2AoIspIgdNv4CWsnDAU"},{"name":"cx","value":"b05742ad628374020"},{"name":"q","value":"={{ $json.searchQueries.stateSpecific }}"}]},"options":{}},"id":"c7f1815f-336c-4448-8a51-5de1d5b3f0d1","name":"Search State Specific","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-448],"onError":"continueRegularOutput"}],"connections":{"Input Validation":{"main":[[{"node":"Search Official County","type":"main","index":0},{"node":"Search State Specific","type":"main","index":0},{"node":"Search Bid4Assets1","type":"main","index":0},{"node":"Search RealAuction1","type":"main","index":0},{"node":"Search Legal Notices","type":"main","index":0},{"node":"Search Documents1","type":"main","index":0}]]},"Search Official County":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Merge Search Results":{"main":[[{"node":"AI Analysis & Extraction","type":"main","index":0}]]},"AI Analysis & Extraction":{"main":[[{"node":"Format JSON Response","type":"main","index":0}]]},"Format JSON Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Input Validation","type":"main","index":0}]]},"Search Bid4Assets1":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Search RealAuction1":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Search Legal Notices":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Search Documents1":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]},"Search State Specific":{"main":[[{"node":"Merge Search Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d81dde2e-a75a-4fc2-aba3-32a3772d5c5e","tags":[]}}