n8n-backups/CObfZojzrMmsTvVV_TDF-PDF-Text-Extractor.json
{"success":true,"data":{"updatedAt":"2026-01-18T00:16:58.064Z","createdAt":"2026-01-17T23:44:01.675Z","id":"CObfZojzrMmsTvVV","name":"TDF - PDF Text Extractor","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"path":"extract-pdf-text","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"getHtmlPage","name":"Get HTML Page","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"parameters":{"url":"={{ $json.body.document_url }}","options":{"response":{"response":{"fullResponse":true}}}}},{"id":"extractPdfUrl","name":"Extract PDF URL","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"parameters":{"jsCode":"// Get the URL and document ID from the webhook\nconst documentUrl = $('Webhook').first().json.body.document_url;\nconst documentId = $('Webhook').first().json.body.document_id;\nconst response = $input.first().json;\n\nif (!response || !response.body) {\n  throw new Error('No response body received');\n}\n\nconst contentType = response.headers?.['content-type'] || '';\nconst body = response.body;\n\nif (contentType.includes('application/pdf') || documentUrl.toLowerCase().endsWith('.pdf')) {\n  return [{ json: { pdfUrl: documentUrl, documentId: documentId, isDirect: true } }];\n}\n\nconst html = typeof body === 'string' ? body : JSON.stringify(body);\n\nconst wpfdMatch = html.match(/href=[\"']([^\"']*\\/download\\/[^\"']+\\.pdf)[\"']/i);\nif (wpfdMatch) {\n  let pdfPath = wpfdMatch[1];\n  if (!pdfPath.startsWith('http')) {\n    const urlObj = new URL(documentUrl);\n    pdfPath = urlObj.origin + (pdfPath.startsWith('/') ? '' : '/') + pdfPath;\n  }\n  return [{ json: { pdfUrl: pdfPath, documentId: documentId, isDirect: false } }];\n}\n\nconst directMatch = html.match(/href=[\"']([^\"']+\\.pdf)[\"']/i);\nif (directMatch) {\n  let pdfPath = directMatch[1];\n  if (!pdfPath.startsWith('http')) {\n    const urlObj = new URL(documentUrl);\n    pdfPath = urlObj.origin + (pdfPath.startsWith('/') ? '' : '/') + pdfPath;\n  }\n  return [{ json: { pdfUrl: pdfPath, documentId: documentId, isDirect: false } }];\n}\n\nconst dataFileMatch = html.match(/data-file=[\"']([^\"']+\\.pdf)[\"']/i);\nif (dataFileMatch) {\n  let pdfPath = dataFileMatch[1];\n  if (!pdfPath.startsWith('http')) {\n    const urlObj = new URL(documentUrl);\n    pdfPath = urlObj.origin + (pdfPath.startsWith('/') ? '' : '/') + pdfPath;\n  }\n  return [{ json: { pdfUrl: pdfPath, documentId: documentId, isDirect: false } }];\n}\n\nif (documentUrl.toLowerCase().includes('.pdf')) {\n  return [{ json: { pdfUrl: documentUrl, documentId: documentId, isDirect: true } }];\n}\n\nthrow new Error('Could not find PDF URL in response. Content-Type: ' + contentType);"}},{"id":"downloadPdf","name":"Download PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"parameters":{"url":"={{ $json.pdfUrl }}","options":{"response":{"response":{"responseFormat":"file"}}}}},{"id":"readPdf","name":"Read PDF","type":"n8n-nodes-base.readPDF","typeVersion":1,"position":[880,0],"parameters":{"binaryPropertyName":"data","encrypted":false}},{"id":"prepareData","name":"Prepare Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,0],"parameters":{"jsCode":"const pdfData = $input.first().json;\nconst documentId = $('Extract PDF URL').first().json.documentId;\nconst pdfUrl = $('Extract PDF URL').first().json.pdfUrl;\n\nlet extractedText = '';\n\nif (pdfData.text) {\n  extractedText = pdfData.text;\n} else if (typeof pdfData === 'string') {\n  extractedText = pdfData;\n} else {\n  const jsonStr = JSON.stringify(pdfData);\n  const textMatch = jsonStr.match(/\"text\":\\s*\"([^\"]*)\"/i);\n  if (textMatch) {\n    extractedText = textMatch[1];\n  } else {\n    extractedText = jsonStr;\n  }\n}\n\nextractedText = extractedText.replace(/\\s+/g, ' ').replace(/\\n{3,}/g, '\\n\\n').replace(/[\\x00-\\x09\\x0B\\x0C\\x0E-\\x1F]/g, '').trim();\n\nconst isMetadata = extractedText.includes('StructTreeRoot') || extractedText.includes('FontDescriptor') || extractedText.includes('obj') && extractedText.includes('endobj');\n\nif (isMetadata || extractedText.length < 50) {\n  return [{ json: { document_id: documentId, pdf_url: pdfUrl, extracted_text: null, char_count: 0, extracted_at: new Date().toISOString(), error: 'Could not extract readable text from PDF (may be image-based or encrypted)' } }];\n}\n\nif (extractedText.length > 100000) {\n  extractedText = extractedText.substring(0, 100000) + '\\n\\n[... text truncated due to length ...]';\n}\n\nreturn [{ json: { document_id: documentId, pdf_url: pdfUrl, extracted_text: extractedText, char_count: extractedText.length, extracted_at: new Date().toISOString(), error: null } }];"}},{"id":"updateSupabase","name":"Update Supabase","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,0],"parameters":{"operation":"update","tableId":"documents","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.document_id }}"}]},"fieldsToSend":{"fieldValues":[{"fieldName":"extracted_text","fieldValue":"={{ $json.extracted_text }}"},{"fieldName":"text_extracted_at","fieldValue":"={{ $json.extracted_at }}"}]}},"credentials":{"supabaseApi":{"id":"1","name":"Supabase account"}}},{"id":"respondSuccess","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1540,0],"parameters":{"options":{},"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, document_id: $('Prepare Data').first().json.document_id, char_count: $('Prepare Data').first().json.char_count }) }}"}}],"connections":{"Webhook":{"main":[[{"node":"Get HTML Page","type":"main","index":0}]]},"Get HTML Page":{"main":[[{"node":"Extract PDF URL","type":"main","index":0}]]},"Extract PDF URL":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Read PDF","type":"main","index":0}]]},"Read PDF":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Update Supabase","type":"main","index":0}]]},"Update Supabase":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"839a264e-94e2-4cfe-880e-3a344ffbb259","tags":[]}}