n8n-backups/cowlU6kpyKlzrjBB_JJ-CRUD-Notes.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:04:49.000Z","createdAt":"2025-09-10T08:04:45.448Z","id":"cowlU6kpyKlzrjBB","name":"[JJ] CRUD Notes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"action\": \"create\",\n  \"user_telegram_id\": \"5979734586\",\n  \"chat_telegram_id\": \"5979734586\",\n  \"note_id\": 1,\n  \"title\": \"Meeting Notes\",\n  \"content\": \"Important discussion about project timeline\",\n  \"note_type\": \"meeting\",\n  \"tags\": \"work,important\",\n  \"metadata\": \"{}\",\n  \"limit\": 10,\n  \"offset\": 0\n}"},"id":"59af060d-948a-4b5d-b7b7-73e361c8895c","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-624,64],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/store-note","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.fromEntries(Object.entries({\n  action: $json.action || 'create',\n  user_telegram_id: $json.user_telegram_id,\n  chat_telegram_id: $json.chat_telegram_id,\n  note_id: $json.note_id,\n  title: $json.title,\n  content: $json.content,\n  note_type: $json.note_type || 'general',\n  tags: $json.tags,\n  metadata: $json.metadata || '{}',\n  limit: $json.limit || 10,\n  offset: $json.offset || 0\n}).filter(([k, v]) => {\n  if (v == null) return false;\n  if (k === 'tags' && (!Array.isArray(v) || v.length === 0 || v === '')) return false;\n  return true;\n}))) }}","options":{}},"id":"2c7eecf2-94e3-4e73-ae13-44034f196482","name":"CRUD Notes Operation","type":"n8n-nodes-base.httpRequest","position":[-208,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"action-field","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"7d3bdb6e-e69a-4677-90c3-06928da30005","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to perform notes operation' }}"},{"id":"error-action","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"42bd718e-8988-4f3a-820b-28e400de1c7c","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4},{"parameters":{"jsCode":"// Filter SKIP_FIELD en -1 waarden\nconst input = $input.all()[0].json;\nconst cleaned = {};\n\nObject.entries(input).forEach(([key, value]) => {\n  // Skip SKIP_FIELD strings\n  if (value === 'SKIP_FIELD') return;\n  \n  // Skip -1 voor numerieke velden (behalve als het een geldige waarde is)\n  if (value === -1 && ['note_id', 'limit', 'offset'].includes(key)) {\n    // Voor note_id alleen skippen als action niet read/update/delete is\n    if (key === 'note_id' && ['read', 'update', 'delete'].includes(input.action)) {\n      cleaned[key] = value; // Behoud -1 als foutmelding\n    }\n    return; // Skip voor andere gevallen\n  }\n  \n  // Tags omzetten van string naar array\n  if (key === 'tags' && typeof value === 'string' && value !== 'SKIP_FIELD') {\n    cleaned[key] = value.split(',').map(tag => tag.trim()).filter(tag => tag);\n    return;\n  }\n  \n  // Voeg alle andere waarden toe\n  cleaned[key] = value;\n});\n\n// Voeg default waarden toe waar nodig\nif (!cleaned.note_type && ['create', 'update'].includes(cleaned.action)) {\n  cleaned.note_type = 'general';\n}\n\nreturn cleaned;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,64],"id":"10c757d0-0423-4685-b766-18353a354d6c","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"CRUD Notes Operation":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"Code":{"main":[[{"node":"CRUD Notes Operation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fa7c6331-7c05-40b2-ac64-af51485a00b0","tags":[]}}