n8n-backups/dNwrDxSeiaUdLipY_JJ-Image-Tool.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:01:59.000Z","createdAt":"2025-09-10T08:00:32.057Z","id":"dNwrDxSeiaUdLipY","name":"[JJ] Image Tool","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"user_telegram_id\": \"5979734586\",\n  \"chat_telegram_id\": \"5979734586\",\n  \"message_id\": 423,\n  \"file_id\": \"BQACAgQAAxkBAAIBp2hbDj833z4gySB3pp_xfOe9BqdDAAINGQAClL3YUvnzmct2yHKTNgQ\",\n    \"file_content\": \"BQACAgQAAxkBAAIBp2hbDj833z4gySB3pp_xfOe9BqdDAAINGQAClL3YUvnzmct2yHKTNgQ\",\n  \"caption\": \"Optional caption for the image\"\n}"},"id":"166b4818-75de-453e-81d9-a7f7b7f6e03c","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-832,64],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/process-image","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  user_telegram_id: $('When Executed by Another Workflow').item.json.user_telegram_id,\n  chat_telegram_id: $('When Executed by Another Workflow').item.json.chat_telegram_id,\n  message_id: $('When Executed by Another Workflow').item.json.message_id || null,\n  file_id: $('When Executed by Another Workflow').item.json.file_id,\n  file_url: $('When Executed by Another Workflow').item.json.file_url || null,\n  file_content: $('When Executed by Another Workflow').item.json.file_content,\n  caption: $('When Executed by Another Workflow').item.json.caption || null\n}) }}","options":{}},"id":"cfb6615b-452c-449f-9d9e-d2591619fd8b","name":"Process Image in Supabase","type":"n8n-nodes-base.httpRequest","position":[-400,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"image-field","name":"image","type":"object","value":"={{ $json.image || {} }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"697207c6-9eab-4838-a4f7-2d1f7095026e","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to process image' }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"caa7965f-27d2-444e-bb7a-4447cc1e171c","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4}],"connections":{"Process Image in Supabase":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Process Image in Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e0658d79-a76d-46f3-b343-ded652826654","tags":[]}}