n8n-backups/I5LevopKSmC5UYNa_JJ-Search-Memory-Tool.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:32:34.000Z","createdAt":"2025-09-10T08:05:56.717Z","id":"I5LevopKSmC5UYNa","name":"[JJ] Search Memory Tool","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"user_telegram_id\": \"5979734586\",\n  \"search_query\": \"meeting notes\",\n  \"search_type\": \"semantic\",\n  \"content_type\": \"notes\",\n  \"start_date\": \"2025-01-01\",\n  \"end_date\": \"2025-12-31\",\n  \"sender_type\": \"user\",\n  \"note_type\": \"meeting\",\n  \"has_tags\": \"important,work\",\n  \"has_any_tags\": \"urgent,followup\",\n  \"limit\": 50,\n  \"similarity_threshold\": 0.2\n}"},"id":"8bd3d6a2-efde-4087-be91-c269c64d1135","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-672,96],"typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"results-field","name":"results","type":"array","value":"={{ $json.results }}"},{"id":"count-field","name":"count","type":"number","value":"={{ $json.count || 0 }}"}]},"options":{}},"id":"b0c253db-1d08-4ca8-a347-2e83cd975329","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to search memory' }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"5cad0412-d891-4a55-977a-44df2d2fef68","name":"Error Output","type":"n8n-nodes-base.set","position":[0,192],"typeVersion":3.4},{"parameters":{"jsCode":"const input = $input.all()[0].json;\nconst cleaned = {};\nObject.entries(input).forEach(([key, value]) => {\n  if (value === 'SKIP_FIELD') return;\n  if (key === 'limit' && value === -1) return;\n  if (key === 'similarity_threshold' && value === -1) return;\n  if (['has_tags', 'has_any_tags'].includes(key) && typeof value === 'string' && value !== 'SKIP_FIELD') {\n    cleaned[key] = value.split(',').map(tag => tag.trim()).filter(tag => tag);\n    return;\n  }\n  if (value !== null && value !== '' && value !== 'SKIP_FIELD') {\n    cleaned[key] = value;\n  }\n});\nif (!cleaned.user_telegram_id) {\n  throw new Error('user_telegram_id is required');\n}\nreturn cleaned;"},"id":"a5811a25-f78f-4a88-8938-234421af3581","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,96]},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/search-memory","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.fromEntries(Object.entries({user_telegram_id: $json.user_telegram_id, search_query: $json.search_query, search_type: $json.search_type || 'semantic', content_type: $json.content_type, start_date: $json.start_date, end_date: $json.end_date, sender_type: $json.sender_type, note_type: $json.note_type, has_tags: $json.has_tags, has_any_tags: $json.has_any_tags, limit: $json.limit || 50, similarity_threshold: $json.similarity_threshold || 0.2}).filter(([k, v]) => { if (v == null) return false; if (['has_tags', 'has_any_tags'].includes(k) && (!Array.isArray(v) || v.length === 0)) return false; return true; }))) }}","options":{}},"id":"0c41951c-ca8b-4202-aec0-fb74b3f236b8","name":"Search Memory Operation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-224,96],"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Search Memory Operation","type":"main","index":0}]]},"Search Memory Operation":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"076a4b0b-eb2d-48fc-be0e-f5b6bc57dec2","tags":[]}}