n8n-backups/iGHGkhJfZFbyDK5v_JJ-Manage-Scheduled-Tasks.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:04:20.000Z","createdAt":"2025-09-10T08:04:17.380Z","id":"iGHGkhJfZFbyDK5v","name":"[JJ] Manage Scheduled Tasks","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"action\": \"list\",\n  \"user_telegram_id\": \"5979734586\",\n  \"task_id\": 1,\n  \"prompt\": \"Daily reminder message\",\n  \"schedule\": \"0 9 * * *\",\n  \"timezone\": \"Europe/Amsterdam\",\n  \"is_active\": true,\n  \"is_one_time\": false,\n  \"metadata\": \"{}\"\n}"},"id":"4b87ee83-5cad-455b-8a2d-064f6b19321d","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-624,64],"typeVersion":1.1},{"parameters":{"jsCode":"// Filter SKIP_FIELD and -1 values\nconst input = $input.all()[0].json;\nconst cleaned = {};\n\nObject.entries(input).forEach(([key, value]) => {\n  if (value === 'SKIP_FIELD') return;\n  if (value === -1 && key === 'task_id') {\n    if (['get', 'update', 'delete', 'toggle'].includes(input.action)) {\n      cleaned[key] = value;\n    }\n    return;\n  }\n  if (['is_active', 'is_one_time'].includes(key) && typeof value === 'string') {\n    cleaned[key] = value === 'true';\n    return;\n  }\n  cleaned[key] = value;\n});\n\nif (!cleaned.action) cleaned.action = 'list';\nif (!cleaned.timezone && ['create', 'update'].includes(cleaned.action)) cleaned.timezone = 'Europe/Amsterdam';\nif (cleaned.is_active === undefined && ['create'].includes(cleaned.action)) cleaned.is_active = true;\nif (!cleaned.metadata) cleaned.metadata = '{}';\n\nreturn cleaned;"},"id":"11e35d73-209f-4760-a70d-15ea63e52928","name":"Clean Input","type":"n8n-nodes-base.code","position":[-416,64],"typeVersion":2},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/manage-scheduled-tasks","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.fromEntries(Object.entries({\n  action: $json.action,\n  user_telegram_id: $json.user_telegram_id,\n  task_id: $json.task_id,\n  prompt: $json.prompt,\n  schedule: $json.schedule,\n  timezone: $json.timezone,\n  is_active: $json.is_active,\n  is_one_time: $json.is_one_time,\n  metadata: $json.metadata\n}).filter(([k, v]) => v != null))) }}","options":{}},"id":"ad41384d-a419-43e9-af78-f1df66dbc711","name":"Manage Scheduled Tasks Operation","type":"n8n-nodes-base.httpRequest","position":[-208,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"action-field","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"1f2e0404-3ed6-4a32-aa52-59a4c80ce855","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to perform scheduled tasks operation' }}"},{"id":"error-action","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"5e1c6a28-374e-4f4f-91a4-6215fba0dce0","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clean Input","type":"main","index":0}]]},"Clean Input":{"main":[[{"node":"Manage Scheduled Tasks Operation","type":"main","index":0}]]},"Manage Scheduled Tasks Operation":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ed96e734-2050-4da3-ae07-26262360c7b3","tags":[]}}