n8n-backups/JV1WZzfbD7pPaEo9_JJ-Query-Image-Tool.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:05:30.000Z","createdAt":"2025-09-10T08:05:30.854Z","id":"JV1WZzfbD7pPaEo9","name":"[JJ] Query Image Tool","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"user_telegram_id\": \"5979734586\",\n  \"image_id\": 123,\n  \"prompt\": \"What objects are in this image?\",\n  \"include_original_description\": true,\n  \"model\": \"gpt-4.1-mini\"\n}"},"id":"631ac6b9-888a-4ca7-93a0-ecd65219bc70","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-624,64],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/query-image","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_telegram_id: $json.user_telegram_id, image_id: $json.image_id, prompt: $json.prompt, include_original_description: $json.include_original_description !== undefined ? $json.include_original_description : true, model: $json.model || 'gpt-4.1-mini'}) }}","options":{}},"id":"adcad216-0a28-40d4-ae6b-c02a3f394edb","name":"Query Image Operation","type":"n8n-nodes-base.httpRequest","position":[-320,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"89ecc330-f573-4e87-bde4-8fe289999d28","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to query image' }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"b099db3d-124d-4941-842c-b5fff94cd485","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Query Image Operation","type":"main","index":0}]]},"Query Image Operation":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4fa0e6d2-22e1-437e-a257-ce1e395e929c","tags":[]}}