n8n-backups/NC6LvdJ5EiozwYHi_JJ-Store-Message.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:03:06.000Z","createdAt":"2025-09-10T08:02:55.269Z","id":"NC6LvdJ5EiozwYHi","name":"[JJ] Store Message","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"user_telegram_id\": \"5979734586\",\n  \"chat_telegram_id\": \"5979734586\",\n  \"message_id\": 123,\n  \"message_text\": \"Hello, this is a test message\",\n  \"sender_type\": \"user\",\n  \"metadata\": \"{}\"\n}"},"id":"6f6ccde2-a6e1-4868-beee-382a1d0fdb4a","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-416,64],"typeVersion":1.1},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/store-message","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({user_telegram_id: $json.user_telegram_id, chat_telegram_id: $json.chat_telegram_id, message_id: $json.message_id || null, message_text: $json.message_text, sender_type: $json.sender_type, metadata: $json.metadata || '{}'}) }}","options":{}},"id":"a12bb10b-7489-46f5-8eea-cc71d4300544","name":"Store Message to Supabase","type":"n8n-nodes-base.httpRequest","position":[-208,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"message-field","name":"message","type":"string","value":"={{ $json.message || 'Message stored successfully' }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"9173d667-fbed-430b-ad79-1d0fc20b144e","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to store message' }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"c54514ff-120b-4882-9cfb-80105175246e","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4}],"connections":{"Store Message to Supabase":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Store Message to Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4cfd1644-c1ef-4eee-a31a-4a77bd1e0842","tags":[]}}