n8n-backups/P8uYC8znWT5h4xq2_TDF-Batch-Job-Orchestrator.json
{"success":true,"data":{"updatedAt":"2026-01-09T02:26:16.286Z","createdAt":"2026-01-09T02:17:11.972Z","id":"P8uYC8znWT5h4xq2","name":"TDF - Batch Job Orchestrator","description":null,"active":false,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Batch Job Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,400],"parameters":{"path":"batch-job","httpMethod":"POST","responseMode":"responseNode","options":{}},"onError":"continueRegularOutput"},{"id":"process-request","name":"Process Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,400],"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst action = body.action || 'status';\nlet rpcFunction = '';\nlet rpcParams = {};\nswitch(action) {\n  case 'create':\n    rpcFunction = 'create_batch_job';\n    rpcParams = { job_type: body.job_type, p_county_id: body.county_id || null, p_batch_size: body.batch_size || 50 };\n    break;\n  case 'get_next':\n    rpcFunction = 'get_next_batch';\n    rpcParams = { p_job_id: body.job_id };\n    break;\n  case 'update':\n    rpcFunction = 'update_batch_progress';\n    rpcParams = { p_job_id: body.job_id, p_last_processed_id: body.last_processed_id, p_items_processed: body.items_processed || 1, p_items_failed: body.items_failed || 0, p_error_message: body.error_message || null };\n    break;\n  case 'pause':\n    rpcFunction = 'pause_batch_job';\n    rpcParams = { p_job_id: body.job_id };\n    break;\n  case 'resume':\n    rpcFunction = 'resume_batch_job';\n    rpcParams = { p_job_id: body.job_id };\n    break;\n  case 'complete':\n    rpcFunction = 'complete_batch_job';\n    rpcParams = { p_job_id: body.job_id };\n    break;\n  case 'status':\n  default:\n    rpcFunction = 'get_batch_status';\n    rpcParams = { p_job_id: body.job_id };\n    break;\n}\nreturn [{ json: { action: action, rpc_function: rpcFunction, rpc_params: rpcParams } }];"}},{"id":"call-supabase","name":"Call Supabase RPC","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,400],"parameters":{"method":"POST","url":"=https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/{{ $json.rpc_function }}","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.rpc_params) }}","options":{}}},{"id":"format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,400],"parameters":{"jsCode":"const result = $input.first();\nconst now = new Date().toISOString();\nconst response = { timestamp: now, success: true, action: $('Process Request').first().json.action, data: result.json };\nreturn [{ json: response }];"}},{"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[900,400],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}}}],"connections":{"Batch Job Webhook":{"main":[[{"node":"Process Request","type":"main","index":0}]]},"Process Request":{"main":[[{"node":"Call Supabase RPC","type":"main","index":0}]]},"Call Supabase RPC":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1061c308-1cf7-4659-bd03-c20722c963f4","tags":[]}}