n8n-backups/pHmJgmtMCbRyTtne_TDF-Daily-Pipeline-Review.json
{"success":true,"data":{"updatedAt":"2026-01-09T03:35:13.151Z","createdAt":"2026-01-09T03:33:48.895Z","id":"pHmJgmtMCbRyTtne","name":"TDF - Daily Pipeline Review","description":null,"active":true,"isArchived":false,"nodes":[{"id":"get-work-queue","name":"Get Work Queue","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,0],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_orchestrator_work_queue","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"options":{}}},{"id":"get-bottlenecks","name":"Detect Bottlenecks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,160],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/detect_bottlenecks","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"options":{}}},{"id":"get-session-plan","name":"Get Session Plan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,320],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_session_plan","sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"p_max_properties","value":"150"},{"name":"p_max_agents","value":"3"}]},"options":{}}},{"id":"merge-data","name":"Merge All Data","type":"n8n-nodes-base.merge","typeVersion":3,"position":[480,160],"parameters":{"mode":"append","numberInputs":3}},{"id":"format-report","name":"Format Pipeline Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,160],"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const allItems = $input.all();\n\nlet workQueue = [];\nlet bottlenecks = [];\nlet sessionPlan = [];\n\nfor (const item of allItems) {\n  const data = item.json;\n  if (data.agent_name && data.task_type && data.pending_count !== undefined) {\n    workQueue.push(data);\n  } else if (data.bottleneck_score !== undefined) {\n    bottlenecks.push(data);\n  } else if (data.recommended_count !== undefined) {\n    sessionPlan.push(data);\n  }\n}\n\nconst totalPending = workQueue.reduce((sum, w) => sum + (w.pending_count || 0), 0);\nconst criticalBottlenecks = bottlenecks.filter(b => parseFloat(b.bottleneck_score) > 0.8);\n\nconst report = {\n  generated_at: new Date().toISOString(),\n  report_date: new Date().toISOString().split('T')[0],\n  summary: {\n    total_pending_properties: totalPending,\n    agents_with_work: workQueue.length,\n    critical_bottlenecks: criticalBottlenecks.length,\n    estimated_sessions_needed: Math.ceil(totalPending / 150)\n  },\n  work_queue: workQueue.map(w => ({\n    priority: w.priority,\n    agent: w.agent_name,\n    task: w.task_type,\n    county: w.county_name,\n    pending: w.pending_count,\n    sessions_needed: w.estimated_sessions,\n    batch_size: w.recommended_batch_size,\n    method: w.execution_method\n  })),\n  bottlenecks: bottlenecks.map(b => ({\n    stage: b.stage,\n    county: b.county_name,\n    score: b.bottleneck_score,\n    pending: b.pending_count,\n    recommendation: b.recommendation\n  })),\n  recommended_session_plan: sessionPlan.map(s => ({\n    priority: s.priority,\n    agent: s.agent_name,\n    task: s.task_type,\n    county: s.county_name,\n    properties: s.recommended_count,\n    method: s.execution_method\n  }))\n};\n\nreturn [{ json: report }];"}},{"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,160],"parameters":{"httpMethod":"POST","path":"orchestrator/daily-review","responseMode":"lastNode","options":{}}}],"connections":{"Get Work Queue":{"main":[[{"node":"Merge All Data","type":"main","index":0}]]},"Detect Bottlenecks":{"main":[[{"node":"Merge All Data","type":"main","index":1}]]},"Get Session Plan":{"main":[[{"node":"Merge All Data","type":"main","index":2}]]},"Merge All Data":{"main":[[{"node":"Format Pipeline Report","type":"main","index":0}]]},"Webhook Trigger":{"main":[[{"node":"Get Work Queue","type":"main","index":0},{"node":"Detect Bottlenecks","type":"main","index":0},{"node":"Get Session Plan","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"75bb15fc-7b05-408e-a776-c8d53a3142d2","tags":[]}}