n8n-backups/SGUwY3pSYRUChIqK_JJ-Telegram-send-message.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:02:29.000Z","createdAt":"2025-09-10T08:02:14.168Z","id":"SGUwY3pSYRUChIqK","name":"[JJ] Telegram send message","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-432,96],"id":"5f495e99-3d0a-4346-ae21-95ca4634d0cf","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2fb1f47d-ed7f-4e3e-bdc3-6a489a3f0a4a","leftValue":"={{ $json.message }}","rightValue":"[VOICE]","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"eb1a7f45-b6ca-4496-8505-06f0b024d802","name":"If message starts with Voice"},{"parameters":{"resource":"audio","input":"={{ $json.message.replace('[VOICE]', '') }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[0,0],"id":"dcdf0062-6476-4974-9665-dfdc87f78df8","name":"Generate audio","credentials":{"openAiApi":{"id":"224l8PKoMiKAr2Bc","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('When Executed by Another Workflow').item.json.telegram_chat_id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,0],"id":"edad6c8a-b190-4ae5-8cfd-5d2ddf0d1d4d","name":"Send an audio file","webhookId":"9dda64cb-e553-4560-aa92-e54d479c8dfb","credentials":{"telegramApi":{"id":"TBAkY5JzhaGMduny","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $json.telegram_chat_id }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[224,208],"id":"137a6506-d35e-49bc-b1b4-abe233e6283e","name":"Send a text message","webhookId":"8ed9ef88-fea8-44ec-9ade-ff85620cf6bb","credentials":{"telegramApi":{"id":"TBAkY5JzhaGMduny","name":"Telegram account"}}},{"parameters":{"jsCode":"const items = [];\nconst inputItem = $input.first();\nconst message = inputItem.json.message;\nfunction escapeMarkdownV2(text) { return text.replace(/_/g, '\\\\_').replace(/\\*/g, '\\\\*').replace(/\\[/g, '\\\\[').replace(/`/g, '\\\\`'); }\nfunction splitMessage(message, maxLength = 4000) { if (message.length <= maxLength) return [message]; const chunks = []; let remaining = message; while (remaining.length > 0) { if (remaining.length <= maxLength) { chunks.push(remaining.trim()); break; } let splitPoint = -1; let searchText = remaining.substring(0, maxLength); const separatorIndex = searchText.lastIndexOf('---'); if (separatorIndex > maxLength * 0.3) splitPoint = separatorIndex + 3; if (splitPoint === -1) { const doubleNewlineIndex = searchText.lastIndexOf('\\n\\n'); if (doubleNewlineIndex > maxLength * 0.3) splitPoint = doubleNewlineIndex + 2; } if (splitPoint === -1) { const newlineIndex = searchText.lastIndexOf('\\n'); if (newlineIndex > maxLength * 0.5) splitPoint = newlineIndex + 1; } if (splitPoint === -1) { const periodIndex = searchText.lastIndexOf('. '); if (periodIndex > maxLength * 0.5) splitPoint = periodIndex + 2; } if (splitPoint === -1) splitPoint = maxLength; const chunk = remaining.substring(0, splitPoint).trim(); chunks.push(chunk); remaining = remaining.substring(splitPoint).trim(); } return chunks; }\nconst chunks = splitMessage(message);\nchunks.forEach((chunk, index) => { items.push({ json: { message: escapeMarkdownV2(chunk), message_raw: chunk, part: index + 1, totalParts: chunks.length, isLastPart: index === chunks.length - 1, telegram_chat_id: inputItem.json.telegram_chat_id } }); });\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,208],"id":"f35eff86-bc14-42a5-b120-38d9f7a1e222","name":"Code"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"If message starts with Voice","type":"main","index":0}]]},"If message starts with Voice":{"main":[[{"node":"Generate audio","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"de00cdb5-b098-4620-86b9-441e78030b01","tags":[]}}