n8n-backups/SjHHldADMU7vhteX_YNAB.json
{"success":true,"data":{"updatedAt":"2025-12-29T01:26:45.791Z","createdAt":"2025-10-18T21:05:47.590Z","id":"SjHHldADMU7vhteX","name":"YNAB","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.ynab.com/v1/budgets/15939c51-1216-4d88-9d94-2b199e149442/transactions","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"since_date","value":"2023-01-01"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,0],"id":"b5cbffd5-a009-4a28-8257-05f3f1684725","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"9yKb0fvBN211MaY8","name":"Bearer Auth account"}}},{"parameters":{"jsCode":"// Extract the transactions array from the nested YNAB response\nconst ynabResponse = $input.first().json;\nconst transactions = ynabResponse.data.transactions;\n\n// Transform each transaction to match Supabase table columns\n// We're flattening the structure and excluding the 'id' field\nconst transformedTransactions = transactions.map(transaction => ({\n  // Don't include 'id' - Supabase will auto-generate it\n  ynab_transaction_id: transaction.id,\n  date: transaction.date,\n  amount: Math.abs(transaction.amount/1000),\n  memo: transaction.memo || null,\n  cleared: transaction.cleared || null,\n  approved: transaction.approved === true,\n  flag_color: transaction.flag_color || null,\n  flag_name: transaction.flag_name || null,\n  account_id: transaction.account_id || null,\n  account_name: transaction.account_name || null,\n  payee_id: transaction.payee_id || null,\n  payee_name: transaction.payee_name || null,\n  category_id: transaction.category_id || null,\n  category_name: transaction.category_name || null,\n  transfer_account_id: transaction.transfer_account_id || null,\n  transfer_transaction_id: transaction.transfer_transaction_id || null,\n  matched_transaction_id: transaction.matched_transaction_id || null,\n  import_id: transaction.import_id || null,\n  import_payee_name: transaction.import_payee_name || null,\n  import_payee_name_original: transaction.import_payee_name_original || null,\n  debt_transaction_type: transaction.debt_transaction_type || null,\n  deleted: transaction.deleted === true,\n  subtransactions: transaction.subtransactions || []\n}));\n\n// Return each transaction as a separate item for n8n to process\nreturn transformedTransactions.map(transaction => ({\n  json: transaction\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,0],"id":"69c32a5a-43ea-4ab1-be4f-c3c5caa8d817","name":"Code in JavaScript"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const SUPABASE_URL = 'https://oiiwlzobizftprqspbzt.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTA0NzgzNSwiZXhwIjoyMDcwNjIzODM1fQ.zpH8VqfW5FC9swJhokpOpc5qw44EnW7m04NNKG9QXU4';\n\nconst item = $input.item.json;\n\nif (!item || !item.ynab_transaction_id) {\n  return {\n    json: {\n      error: 'No input data received',\n      rawInput: $input.item\n    }\n  };\n}\n\nconst bodyData = {\n  ynab_transaction_id: item.ynab_transaction_id,\n  date: item.date,\n  amount: item.amount,\n  memo: item.memo,\n  cleared: item.cleared,\n  approved: item.approved,\n  flag_color: item.flag_color,\n  flag_name: item.flag_name,\n  account_id: item.account_id,\n  account_name: item.account_name,\n  payee_id: item.payee_id,\n  payee_name: item.payee_name,\n  category_id: item.category_id,\n  category_name: item.category_name,\n  transfer_account_id: item.transfer_account_id,\n  transfer_transaction_id: item.transfer_transaction_id,\n  matched_transaction_id: item.matched_transaction_id,\n  import_id: item.import_id,\n  import_payee_name: item.import_payee_name,\n  import_payee_name_original: item.import_payee_name_original,\n  debt_transaction_type: item.debt_transaction_type,\n  deleted: item.deleted,\n  subtransactions: item.subtransactions\n};\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${SUPABASE_URL}/rest/v1/ynab_transactions?on_conflict=ynab_transaction_id`,\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': SUPABASE_KEY,\n    'Authorization': `Bearer ${SUPABASE_KEY}`,\n    'Prefer': 'resolution=merge-duplicates,return=representation'\n  },\n  body: JSON.stringify(bodyData),\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true\n});\n\nreturn {\n  json: {\n    success: response.statusCode >= 200 && response.statusCode < 300,\n    status: response.statusCode,\n    ynab_transaction_id: item.ynab_transaction_id,\n    result: response.body\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0],"id":"4e45b8e6-9fc2-4889-9efa-76608e5d0546","name":"Code in JavaScript1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-320,0],"id":"5b239185-2618-49cc-bb90-c7ae0dc87334","name":"Schedule Trigger"}],"connections":{"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b18f3731-40ca-4ea0-9737-7216214503e8","tags":[]}}