n8n-backups/tRK9m36SlySmiyV4_TDF-Property-Status-Update.json
{"success":true,"data":{"updatedAt":"2026-01-09T02:26:15.992Z","createdAt":"2026-01-09T02:15:16.215Z","id":"tRK9m36SlySmiyV4","name":"TDF - Property Status Update","description":null,"active":false,"isArchived":false,"nodes":[{"id":"schedule-trigger","name":"Daily Status Update","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[100,300],"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}}},{"id":"webhook-trigger","name":"On-Demand Update","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,500],"parameters":{"path":"property-status-update","httpMethod":"POST","responseMode":"responseNode","options":{}},"onError":"continueRegularOutput"},{"id":"merge-triggers","name":"Merge Triggers","type":"n8n-nodes-base.merge","typeVersion":3,"position":[300,400],"parameters":{"mode":"chooseBranch","output":"empty"}},{"id":"update-status","name":"Update Property Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,400],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/update_property_auction_status","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":false,"options":{}}},{"id":"get-counts","name":"Get Updated Counts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,400],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/rpc/get_active_property_counts","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":false,"options":{}}},{"id":"format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400],"parameters":{"jsCode":"const counts = $input.all();\nconst now = new Date().toISOString();\n\nlet totalActive = 0;\nlet totalExpired = 0;\nlet totalUnknown = 0;\n\ncounts.forEach(item => {\n  if (Array.isArray(item.json)) {\n    item.json.forEach(county => {\n      totalActive += county.active_count || 0;\n      totalExpired += county.expired_count || 0;\n      totalUnknown += county.unknown_count || 0;\n    });\n  }\n});\n\nconst response = {\n  timestamp: now,\n  status: 'completed',\n  message: 'Property auction statuses updated successfully',\n  summary: {\n    total_active: totalActive,\n    total_expired: totalExpired,\n    total_unknown: totalUnknown,\n    total_properties: totalActive + totalExpired + totalUnknown\n  },\n  details: counts.map(c => c.json).flat()\n};\n\nreturn [{ json: response }];"}},{"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1100,400],"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}}}],"connections":{"Daily Status Update":{"main":[[{"node":"Merge Triggers","type":"main","index":0}]]},"On-Demand Update":{"main":[[{"node":"Merge Triggers","type":"main","index":1}]]},"Merge Triggers":{"main":[[{"node":"Update Property Status","type":"main","index":0}]]},"Update Property Status":{"main":[[{"node":"Get Updated Counts","type":"main","index":0}]]},"Get Updated Counts":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d0d71873-2d5a-4113-a5cc-2dab16eb55b7","tags":[]}}