n8n-backups/uZRa62UcSjIpppAW_TDF-Single-Property-Scraper-Webhook.json
{"success":true,"data":{"updatedAt":"2026-01-26T18:56:40.778Z","createdAt":"2026-01-26T18:52:41.683Z","id":"uZRa62UcSjIpppAW","name":"TDF - Single Property Scraper (Webhook)","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,400],"parameters":{"path":"scrape-property","httpMethod":"POST","responseMode":"responseNode","options":{}}},{"id":"call-pwrunner","name":"Call Pwrunner","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,400],"parameters":{"url":"http://n8n-production-pwrunner-1:3001/run-regrid","sendQuery":true,"queryParameters":{"parameters":[{"name":"parcel","value":"={{ $json.body.parcel_id }}"},{"name":"county","value":"={{ $json.body.county }}"},{"name":"state","value":"={{ $json.body.state }}"},{"name":"property_id","value":"={{ $json.body.property_id }}"}]},"options":{"timeout":180000}}},{"id":"parse-response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[580,400],"parameters":{"jsCode":"const input = $input.first().json;\nlet response;\nif (typeof input.data === 'string') {\n  response = JSON.parse(input.data);\n} else if (input.success !== undefined) {\n  response = input;\n} else {\n  response = input;\n}\nif (!response.success) {\n  throw new Error('Scraping failed: ' + (response.error || 'Unknown'));\n}\nreturn {\n  json: {\n    property_id: response.property_id,\n    parcel_id: response.parcel_id,\n    screenshot: response.screenshot,\n    regrid_data: response.regrid_data,\n    scraped_at: response.scraped_at\n  }\n};"}},{"id":"prepare-regrid-data","name":"Prepare Regrid Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[820,400],"parameters":{"jsCode":"const input = $input.first().json;\nconst rd = input.regrid_data || {};\nreturn {\n  json: {\n    property_id: input.property_id,\n    regrid_id: rd.regrid_id || null,\n    ll_uuid: rd.ll_uuid || null,\n    address: rd.address || null,\n    city: rd.city || null,\n    state: rd.state || null,\n    zip: rd.zip || null,\n    owner_name: rd.owner_name || null,\n    mailing_address: rd.mailing_address || null,\n    property_type: rd.property_type || null,\n    property_class: rd.property_class || null,\n    land_use: rd.land_use || null,\n    zoning: rd.zoning || null,\n    lot_size_sqft: rd.lot_size_sqft || null,\n    lot_size_acres: rd.lot_size_acres || null,\n    lot_dimensions: rd.lot_dimensions || null,\n    building_sqft: rd.building_sqft || null,\n    year_built: rd.year_built || null,\n    bedrooms: rd.bedrooms || null,\n    bathrooms: rd.bathrooms || null,\n    assessed_value: rd.assessed_value || null,\n    assessed_land_value: rd.assessed_land_value || null,\n    assessed_improvement_value: rd.assessed_improvement_value || null,\n    market_value: rd.market_value || null,\n    latitude: rd.latitude || null,\n    longitude: rd.longitude || null,\n    water_service: rd.water_service || null,\n    sewer_service: rd.sewer_service || null,\n    additional_fields: rd.additional_fields || {},\n    data_quality_score: rd.data_quality_score || 0.0,\n    scraped_at: new Date().toISOString()\n  }\n};"}},{"id":"save-regrid-data","name":"Save Regrid Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,400],"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/regrid_data","sendQuery":true,"queryParameters":{"parameters":[{"name":"on_conflict","value":"property_id"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}"}},{"id":"convert-screenshot","name":"Convert Screenshot","type":"n8n-nodes-base.code","typeVersion":2,"position":[1300,400],"parameters":{"jsCode":"const parseResp = $('Parse Response').first();\nconst screenshot = parseResp.json.screenshot;\nconst parcelId = parseResp.json.parcel_id;\nconst propertyId = parseResp.json.property_id;\nif (!screenshot) throw new Error('No screenshot');\nconst base64Data = screenshot.replace(/^data:image\\/\\\\w+;base64,/, '');\nconst binaryBuffer = Buffer.from(base64Data, 'base64');\nconst safeParcelId = parcelId ? parcelId.replace(/[^a-zA-Z0-9]/g, '_') : 'unknown';\nconst fileName = `${safeParcelId}.jpg`;\nreturn [{\n  json: { property_id: propertyId, parcel_id: parcelId, fileName: fileName },\n  binary: { data: { data: binaryBuffer.toString('base64'), mimeType: 'image/jpeg', fileName: fileName, fileExtension: 'jpg' } }\n}];"}},{"id":"upload-screenshot","name":"Upload Screenshot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,400],"parameters":{"method":"POST","url":"=https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/screenshots/{{ $json.fileName }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTA0NzgzNSwiZXhwIjoyMDcwNjIzODM1fQ.zpH8VqfW5FC9swJhokpOpc5qw44EnW7m04NNKG9QXU4"},{"name":"Content-Type","value":"image/jpeg"},{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data"}},{"id":"update-screenshot-url","name":"Update Screenshot URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,400],"parameters":{"method":"PATCH","url":"=https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/regrid_data?property_id=eq.{{ $('Parse Response').first().json.property_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"screenshot_url\": \"https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/public/screenshots/{{ $('Convert Screenshot').first().json.fileName }}\"}"}},{"id":"update-properties","name":"Update Properties Table","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2020,400],"parameters":{"method":"PATCH","url":"=https://oiiwlzobizftprqspbzt.supabase.co/rest/v1/properties?id=eq.{{ $('Parse Response').first().json.property_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9paXdsem9iaXpmdHBycXNwYnp0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwNDc4MzUsImV4cCI6MjA3MDYyMzgzNX0.idwK7IxweMNK64lOGZlWUFV9pA9zljZmZY65rAiDFzg"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"has_regrid_data\": true,\n  \"has_screenshot\": true,\n  \"property_address\": {{ $('Prepare Regrid Data').first().json.address ? JSON.stringify($('Prepare Regrid Data').first().json.address) : 'null' }}\n}"}},{"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2260,400],"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"property_id\": \"{{ $('Parse Response').first().json.property_id }}\",\n  \"parcel_id\": \"{{ $('Parse Response').first().json.parcel_id }}\",\n  \"screenshot_url\": \"https://oiiwlzobizftprqspbzt.supabase.co/storage/v1/object/public/screenshots/{{ $('Convert Screenshot').first().json.fileName }}\",\n  \"regrid_data\": {{ JSON.stringify($('Prepare Regrid Data').first().json) }}\n}"}}],"connections":{"Webhook":{"main":[[{"node":"Call Pwrunner","type":"main","index":0}]]},"Call Pwrunner":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Prepare Regrid Data","type":"main","index":0}]]},"Prepare Regrid Data":{"main":[[{"node":"Save Regrid Data","type":"main","index":0}]]},"Save Regrid Data":{"main":[[{"node":"Convert Screenshot","type":"main","index":0}]]},"Convert Screenshot":{"main":[[{"node":"Upload Screenshot","type":"main","index":0}]]},"Upload Screenshot":{"main":[[{"node":"Update Screenshot URL","type":"main","index":0}]]},"Update Screenshot URL":{"main":[[{"node":"Update Properties Table","type":"main","index":0}]]},"Update Properties Table":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"0a79fb07-2cb5-4ecc-89f4-fa950d94929c","tags":[]}}