n8n-backups/wgpRU5QeHNN46A98_JJ-Manage-Tags.json
{"success":true,"data":{"updatedAt":"2025-09-10T08:03:56.000Z","createdAt":"2025-09-10T08:03:49.384Z","id":"wgpRU5QeHNN46A98","name":"[JJ] Manage Tags","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"action\": \"list\",\n  \"tag_name\": \"webhook\",\n  \"description\": \"Webhook integrations and HTTP callbacks\",\n  \"category\": \"technology\",\n  \"created_by\": \"5979734586\",\n  \"search\": \"\",\n  \"threshold\": 0.3\n}"},"id":"142fe681-ba76-4794-9c32-3e95db642f6d","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-624,64],"typeVersion":1.1},{"parameters":{"jsCode":"// Filter SKIP_FIELD and -1 values\nconst input = $input.all()[0].json;\nconst cleaned = {};\n\nObject.entries(input).forEach(([key, value]) => {\n  if (value === 'SKIP_FIELD') return;\n  if (value === -1 && key === 'threshold') return;\n  cleaned[key] = value;\n});\n\nif (!cleaned.action) cleaned.action = 'list';\nif (cleaned.threshold === undefined && cleaned.action === 'search_similar') cleaned.threshold = 0.3;\n\nreturn cleaned;"},"id":"fc34419d-ecb3-435a-b778-0e17b75da841","name":"Clean Input","type":"n8n-nodes-base.code","position":[-416,64],"typeVersion":2},{"parameters":{"method":"POST","url":"https://oiiwlzobizftprqspbzt.supabase.co/functions/v1/manage-tags","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify(Object.fromEntries(Object.entries({\n  action: $json.action,\n  tag_name: $json.tag_name,\n  description: $json.description,\n  category: $json.category,\n  created_by: $json.created_by,\n  search: $json.search,\n  threshold: $json.threshold\n}).filter(([k, v]) => v != null))) }}","options":{}},"id":"2a480ec9-05e2-4805-9af0-880ba08dc5f8","name":"Manage Tags Operation","type":"n8n-nodes-base.httpRequest","position":[-208,64],"typeVersion":4.2,"credentials":{"supabaseApi":{"id":"ukdv7Q9LFgFSLWvD","name":"JJ2.0"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"success-field","name":"success","type":"boolean","value":"={{ $json.success !== undefined ? $json.success : true }}"},{"id":"action-field","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"data-field","name":"data","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"3564d74f-c2d0-40fd-9148-19bd05148696","name":"Success Output","type":"n8n-nodes-base.set","position":[0,0],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"error-success","name":"success","type":"boolean","value":false},{"id":"error-message","name":"error","type":"string","value":"={{ $json.message || 'Failed to perform tags operation' }}"},{"id":"error-action","name":"action","type":"string","value":"={{ $('When Executed by Another Workflow').item.json.action }}"},{"id":"error-details","name":"errorDetails","type":"object","value":"={{ $json }}"}]},"options":{}},"id":"99188a72-9f48-4a53-9dcb-301f35e77f90","name":"Error Output","type":"n8n-nodes-base.set","position":[0,160],"typeVersion":3.4}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Clean Input","type":"main","index":0}]]},"Clean Input":{"main":[[{"node":"Manage Tags Operation","type":"main","index":0}]]},"Manage Tags Operation":{"main":[[{"node":"Success Output","type":"main","index":0}],[{"node":"Error Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"629be2b7-fb0e-4cb5-a9f2-0b8a4f11ca77","tags":[]}}