n8n-backups/zsjSo1F87zV1KBu1_Instagram-Fix-Flip-Content-Generator.json
{"success":true,"data":{"updatedAt":"2026-01-10T22:28:49.033Z","createdAt":"2026-01-10T22:27:49.689Z","id":"zsjSo1F87zV1KBu1","name":"Instagram Fix & Flip Content Generator","description":null,"active":false,"isArchived":false,"nodes":[{"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":0},{"triggerAtHour":12,"triggerAtMinute":30},{"triggerAtHour":18,"triggerAtMinute":0}]}}},{"id":"determine-content-type","name":"Determine Content Type","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300],"parameters":{"jsCode":"const now = new Date();\nconst hour = now.getHours();\n\nlet contentType, goal, imageStyle;\n\nif (hour < 11) {\n  contentType = 'educational';\n  goal = 'Provide value, establish expertise';\n  imageStyle = 'Professional real estate infographic, clean modern design, blue and navy color scheme, white background, minimal text placeholders, high quality, corporate style, suitable for Instagram square format';\n} else if (hour < 15) {\n  contentType = 'market_insights';\n  goal = 'Show market awareness, timely information';\n  imageStyle = 'Financial data visualization, real estate market chart, modern graph design, professional analytics dashboard style, blue gradient background, clean typography space, Instagram square format';\n} else {\n  contentType = 'social_proof_cta';\n  goal = 'Build trust, drive action';\n  imageStyle = 'Luxury home exterior, professional real estate photography style, warm golden hour lighting, high-end property renovation, Instagram square format';\n}\n\nconst themes = {\n  educational: ['How to analyze a fix & flip deal using the 70% rule','Understanding ARV (After Repair Value) - A complete guide','Top 5 renovation mistakes that kill your flip profits','Fix & flip financing: Hard money vs conventional loans','How to accurately estimate rehab costs before buying','Building your power team: contractors, agents, lenders','Due diligence checklist every investor needs','Exit strategies: When to hold vs when to sell','Tax benefits of real estate investing explained','Finding off-market deals before your competition'],\n  market_insights: ['Current market conditions for fix & flip investors','How rising interest rates impact flip profitability','Hot markets for house flipping right now','Days on market trends and what they mean for flippers','Material costs update: lumber, labor, and supplies','Foreclosure trends creating new opportunities','Migration patterns creating investment hotspots','Inventory levels: what the numbers tell us','Seasonal trends in real estate: when to buy and sell','New construction vs renovation economics breakdown'],\n  social_proof_cta: ['Deal breakdown: How we turned $50K into $85K in 90 days','Before & after transformation showcase','Investor spotlight: Client success story','Behind the scenes of our latest flip project','ROI case study: Numbers from our recent deal','Join our exclusive investor network - limited spots','Current investment opportunity available','Schedule your free investment consultation','Download our free flip analysis calculator','Milestone: Another successful flip closed']\n};\n\nconst themeList = themes[contentType] || themes.educational;\nconst selectedTheme = themeList[Math.floor(Math.random() * themeList.length)];\n\nconst primaryHashtags = '#realestateinvesting #fixandflip #houseflipping #investinrealestate #passiveincome #realestateinvestor #wealthbuilding #financialfreedom';\nconst secondaryHashtags = '#propertyinvestment #rehabbing #flippinghouses #realestatelife #investmentproperty #cashflow #buildwealth';\n\nreturn [{ json: { contentType, goal, imageStyle, selectedTheme, hashtags: primaryHashtags + ' ' + secondaryHashtags, timestamp: now.toISOString(), dayOfWeek: now.toLocaleDateString('en-US', { weekday: 'long' }) } }];"}},{"id":"generate-caption","name":"Generate Caption (OpenAI)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,300],"parameters":{"resource":"text","operation":"message","modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"messages":{"values":[{"role":"system","content":"You are an expert real estate content creator specializing in fix & flip investments for LFB Investments. You create engaging Instagram posts that attract potential investors. Your content is:\n\n- Professional yet approachable\n- Data-driven and specific\n- Educational and valuable\n- Compliant with investment regulations (no guaranteed returns, proper disclaimers)\n\nYou write for an audience of accredited investors, passive income seekers, and real estate enthusiasts. Your goal is to establish authority and attract investors to the LFB Investments fix & flip platform.\n\nFormat your response as JSON with these fields:\n- caption: The Instagram caption (max 2200 characters, include line breaks for readability)\n- imagePrompt: A detailed prompt for generating a matching image via DALL-E\n- cta: The call-to-action included"},{"role":"user","content":"={{ 'Create an Instagram post about: ' + $json.selectedTheme + '\\n\\nContent type: ' + $json.contentType + '\\nGoal: ' + $json.goal + '\\nDay: ' + $json.dayOfWeek + '\\n\\nHashtags to include at the end: ' + $json.hashtags + '\\n\\nImage style guidance: ' + $json.imageStyle + '\\n\\nMake the caption engaging with emoji usage, line breaks, and a strong hook. Include a clear call-to-action.' }}"}]},"options":{"temperature":0.8,"maxTokens":1500,"responseFormat":"json_object"}}},{"id":"parse-caption","name":"Parse Caption Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[660,300],"parameters":{"jsCode":"let response;\ntry {\n  response = JSON.parse($input.first().json.message.content);\n} catch (e) {\n  response = { caption: $input.first().json.message.content };\n}\nconst previousData = $('Determine Content Type').first().json;\nreturn [{ json: { caption: response.caption || String(response), imagePrompt: response.imagePrompt || previousData.imageStyle, cta: response.cta || 'DM us to learn more!', contentType: previousData.contentType, imageStyle: previousData.imageStyle, theme: previousData.selectedTheme, timestamp: previousData.timestamp } }];"}},{"id":"generate-image","name":"Generate Image (DALL-E)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,300],"parameters":{"resource":"image","operation":"generate","modelId":{"__rl":true,"value":"dall-e-3","mode":"list"},"prompt":"={{ $json.imagePrompt }}","options":{"size":"1024x1024","quality":"standard","style":"vivid"}}},{"id":"prepare-post-data","name":"Prepare Post Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,300],"parameters":{"jsCode":"const imageData = $input.first().json;\nconst captionData = $('Parse Caption Response').first().json;\nreturn [{ json: { caption: captionData.caption, imageUrl: imageData.data[0].url, contentType: captionData.contentType, theme: captionData.theme, timestamp: captionData.timestamp, readyToPost: true } }];"}},{"id":"create-media-container","name":"Create Media Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,300],"parameters":{"method":"POST","url":"={{ 'https://graph.facebook.com/v18.0/' + $env.IG_BUSINESS_ACCOUNT_ID + '/media' }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $json.imageUrl }}"},{"name":"caption","value":"={{ $json.caption }}"},{"name":"access_token","value":"={{ $env.INSTAGRAM_ACCESS_TOKEN }}"}]}}},{"id":"wait-for-processing","name":"Wait for Processing","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1540,300],"parameters":{"amount":10,"unit":"seconds"}},{"id":"publish-to-instagram","name":"Publish to Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,300],"parameters":{"method":"POST","url":"={{ 'https://graph.facebook.com/v18.0/' + $env.IG_BUSINESS_ACCOUNT_ID + '/media_publish' }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $('Create Media Container').first().json.id }}"},{"name":"access_token","value":"={{ $env.INSTAGRAM_ACCESS_TOKEN }}"}]}}},{"id":"log-success","name":"Log Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[1980,300],"parameters":{"jsCode":"const postResult = $input.first().json;\nconst postData = $('Prepare Post Data').first().json;\nreturn [{ json: { success: true, instagramMediaId: postResult.id, contentType: postData.contentType, theme: postData.theme, postedAt: new Date().toISOString(), captionPreview: postData.caption.substring(0, 100) + '...' } }];"}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Determine Content Type","type":"main","index":0}]]},"Determine Content Type":{"main":[[{"node":"Generate Caption (OpenAI)","type":"main","index":0}]]},"Generate Caption (OpenAI)":{"main":[[{"node":"Parse Caption Response","type":"main","index":0}]]},"Parse Caption Response":{"main":[[{"node":"Generate Image (DALL-E)","type":"main","index":0}]]},"Generate Image (DALL-E)":{"main":[[{"node":"Prepare Post Data","type":"main","index":0}]]},"Prepare Post Data":{"main":[[{"node":"Create Media Container","type":"main","index":0}]]},"Create Media Container":{"main":[[{"node":"Wait for Processing","type":"main","index":0}]]},"Wait for Processing":{"main":[[{"node":"Publish to Instagram","type":"main","index":0}]]},"Publish to Instagram":{"main":[[{"node":"Log Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/New_York","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"409a3c7a-aadd-4fe2-8433-e2596d59444c","tags":[]}}